<div class="card">
    <div class="card-body">
        <h4 class="card-title">To Do list</h4>
        <!-- ============================================================== -->
        <!-- To do list widgets -->
        <!-- ============================================================== -->
        <ng-scrollbar class="todo-widget mt-3" style="height: 390px;">
            <ul class="list-task todo-list list-group mb-0" data-role="tasklist">
                <li class="list-group-item border-0 todo-item" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck">
                        <label class="form-check-label todo-label" for="customCheck">
                            <span class="todo-desc">Schedule meeting with</span>
                        </label>
                    </div>
                    <ul class="list-style-none assignedto list-inline mt-2">
                        <li class="assignee list-inline-item">
                            <img class="assignee-img rounded-circle img-fluid" width="35" src="assets/images/users/user1.jpg" alt="user" ngbTooltip="Steave" data-placement="top">
                        </li>
                        <li class="assignee list-inline-item">
                            <img class="assignee-img rounded-circle img-fluid" width="35" src="assets/images/users/user2.jpg" alt="user" ngbTooltip="Jessica" data-placement="top">
                        </li>
                        <li class="assignee list-inline-item">
                            <img class="assignee-img rounded-circle img-fluid" width="35" src="assets/images/users/user3.jpg" alt="user" ngbTooltip="Priyanka" data-placement="top">
                        </li>
                        <li class="assignee list-inline-item">
                            <img class="assignee-img rounded-circle img-fluid" width="35" src="assets/images/users/user4.jpg" alt="user" ngbTooltip="Selina" data-placement="top">
                        </li>
                    </ul>
                </li>
                <li class="list-group-item border-0 todo-item" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck1">
                        <label class="form-check-label todo-label" for="customCheck1">
                            <span class="todo-desc">Give Purchase report to</span>
                            <span class="badge bg-light-danger text-danger float-end ms-2">1 week </span>
                        </label>
                    </div>
                    <ul class="list-style-none assignedto list-inline mt-2">
                        <li class="assignee list-inline-item">
                            <img class="assignee-img rounded-circle img-fluid" width="35" src="assets/images/users/user1.jpg" alt="user" ngbTooltip="Steave" data-placement="top">
                        </li>
                        <li class="assignee list-inline-item">
                            <img class="assignee-img rounded-circle img-fluid" width="35" src="assets/images/users/user2.jpg" alt="user" ngbTooltip="Selina" data-placement="top">
                        </li>
                    </ul>
                </li>
                <li class="list-group-item border-0 todo-item" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck2">
                        <label class="form-check-label todo-label" for="customCheck2">
                            <span class="todo-desc">Book flight for holiday</span>
                        </label>
                    </div>
                    <div class="fs-2 ms-4 text-muted"> 26 jun 2021</div>
                </li>
                <li class="list-group-item border-0 todo-item" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck3">
                        <label class="form-check-label todo-label" for="customCheck3">
                            <span class="todo-desc">Forward all tasks</span>
                            <span class="badge bg-light-warning text-warning float-end ms-2">2 weeks</span>
                        </label>
                    </div>
                    <div class="fs-2 ms-4 text-muted"> 26 jun 2021</div>
                </li>
                <li class="list-group-item border-0 todo-item" data-role="task">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="customCheck4">
                        <label class="form-check-label todo-label" for="customCheck4">
                            <span class="todo-desc">Important tasks</span>
                            <span class="badge bg-light-success text-success float-end ms-2">Yesterday</span>
                        </label>
                    </div>
                    <ul class="list-style-none assignedto list-inline mt-2">
                        <li class="assignee list-inline-item">
                            <img class="assignee-img rounded-circle img-fluid" width="35" src="assets/images/users/user3.jpg" alt="user" ngbTooltip="Steave" data-placement="top">
                        </li>
                        <li class="assignee list-inline-item">
                            <img class="assignee-img rounded-circle img-fluid" width="35" src="assets/images/users/user4.jpg" alt="user" ngbTooltip="Jessica" data-placement="top">
                        </li>
                        <li class="assignee list-inline-item">
                            <img class="assignee-img rounded-circle img-fluid" width="35" src="assets/images/users/user1.jpg" alt="user" ngbTooltip="Priyanka" data-placement="top">
                        </li>
                    </ul>
                </li>
            </ul>
        </ng-scrollbar>
    </div>
</div>