.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 40%;
  margin-left: -70px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Positioning styles */
.tooltip-container.top .tooltiptext {
  bottom: 125%;
  top: auto;
}

.tooltip-container.bottom .tooltiptext {
  bottom: auto;
  top: 125%;
}

.tooltip-container.left .tooltiptext {
  left: auto;
  right: 50%;
  margin-left: 0;
}

.tooltip-container.right .tooltiptext {
  left: 50%;
  margin-left: 0;
}
