<plantilla-a-component [columnsTable]="columnsTable"
  [originalDataTable]="activeRecords ? dataTableActive : dataTableInactive"
  [placeholderHeaderInputText]="'Buscar Tipo Ruta...'" [contexto]="this" [tableInputsEditRow]="tableInputsEditRow"
  keyNameTable="id" [colsToFilterByText]="colsToFilterByText" [defaultEmptyRowTable]="defaultEmptyRowTable"
  [IdRowToClone]="IdRowToClone" colIdToDisable="id" titleReport="TIPO DE RUTAS" [codigoReport]="codigoReporte"
  [showCreateButton]="this.controlsPermissions[pageControlPermission.ButtonAgregar].visualizar"
  [showFilterTipoSolicitud]="this.controlsPermissions[pageControlPermission.FiltroTipoSolicitud].visualizar"
  [disabledFilterTipoSolicitud]="!this.controlsPermissions[pageControlPermission.FiltroTipoSolicitud].habilitar"
  (onChangeActiveRecordsCheckbox)="onChangeActiveRecordsCheckbox($event)" [activeRecordsCheckbox]="activeRecords">
  >
</plantilla-a-component>