<plantilla-e-component
  [dataFilterNivelesAprobacion]="dataFilterNivelesAprobacion"
  [dataTipoMotivo]="dataTipoMotivo"
  [dataTipoSolicitudes]="dataTipoSolicitudes"
  [dataNivelDireccion]="dataNivelDireccion"
  *ngIf="hasFiltered"
  [columnsTable]="columnsTable"
  [originalDataTable]="dataTable"
  [placeholderHeaderInputText]="'Buscar aprobadores fijos...'"
  [contexto]="this"
  keyNameTable="id"
  [colsToFilterByText]="colsToFilterByText"
  clickOnActionRow="onRowActionClicked"
  clickOnFilter="filterDataTable"
  clickOnPageCrear="pageCrear"
  [IdRowToClone]="IdRowToClone"
  colIdToDisable="id"
  titleReport="APROBADOR FIJO"
  [codigoReport]="codigoReporte"
  [showFilterTipoSolicitud]="this.controlsPermissions[pageControlPermission.FiltroTipoSolicitud].visualizar"
  [disabledFilterTipoSolicitud]="!this.controlsPermissions[pageControlPermission.FiltroTipoSolicitud].habilitar"
  [showCreateButton]="this.controlsPermissions[pageControlPermission.ButtonAgregar].visualizar"
  [showButtonExportar]="this.controlsPermissions[pageControlPermission.ButtonExportar].visualizar"
>
</plantilla-e-component>
