.sol-danger{
	color: #C69D08;
	font-size: 20px;
	font-weight:500;
}

.label-estilo{
	color: #0056B3;
	font-size: 16px;
	background-color: white;
	font-weight:500;
	border-style: none;
}

.header-accordion {
	background-color: white !important;
}

.accordion-button, .accordion-button.collapsed {
	border: none !important;
	box-shadow: none !important;
}
