<div class="row">
  <!-- column -->
  <div class="col-lg-12">

    <div class="card">
      <div class="card-body">
        <form action="#">
          <div class="form-body">
            <div class="row">
              <div class="col-md-3">
                <div class="mb-3">
                  <a (click)="PageLaboresRealizados()"> <h3 class="danger"> <i class="fas fa-arrow-alt-circle-left azul"></i> San Vicente</h3></a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label>Produto: Banano</label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <div class="text-end">
                    <button type="button" (click)="Guardar()" class="btn btn-info me-2"><i class="fas fa-save"></i> Guardar</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="row">

                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="azul">Empacadora: </label>
                    </div>
                    <div class="col-md-2">
                      <label>1</label>
                    </div>
                    <div class="col-md-1">
                      <label class="danger">|</label>
                    </div>
                    <div class="col-md-6">
                      <label>Zona Fumiza</label>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="azul">Lote: </label>
                    </div>
                    <div class="col-md-9">
                      <ng-select [(ngModel)]="selected_lote" name="id_hacienda" placeholder="Seleccione">
                        <ng-option *ngFor="let car of data_lote" [value]="car.id">{{car.id}} - {{car.name}}</ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="row">

                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="azul">Sector: </label>
                    </div>
                    <div class="col-md-2">
                      <label>1</label>
                    </div>
                    <div class="col-md-1">
                      <label class="danger">|</label>
                    </div>
                    <div class="col-md-6">
                      <label>Sector 1</label>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="azul">Jefe de Sector: </label>
                    </div>
                    <div class="col-md-2">
                      <label>1</label>
                    </div>
                    <div class="col-md-3">
                      <label>Sandro Dario</label>
                    </div>
                    <div class="col-md-1">
                      <label class="danger">|</label>
                    </div>
                    <div class="col-md-3">
                      <label>Lara Zambrano</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="row">
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-md-3">
                      <label class="azul">Labor: </label>
                    </div>
                    <div class="col-md-9">
                      <ng-select [(ngModel)]="selected_labor" name="id_hacienda" placeholder="Seleccione">
                        <ng-option *ngFor="let car of data_labor" [value]="car.id">{{car.id}} - {{car.name}}</ng-option>
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <div class="row">
                <div class="col-lg-12">
                  <h4 class="danger">Detalle del labor a realizar</h4>
                </div>
              </div>
            </div>


            <div class="mb-3">
              <div class="row">

                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-md-4">
                      <label class="azul">Rend. Trab: </label>
                    </div>
                    <div class="col-md-8">
                      <label>0.00</label>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-md-4">
                      <label class="azul">Rend. Max. Labor: </label>
                    </div>
                    <div class="col-md-8">
                      <label>20.00</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <div class="row">

                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-md-4">
                      <label class="azul">Procesado: </label>
                    </div>
                    <div class="col-md-3">
                      <input type="text" class="form-control" placeholder="5.00">
                    </div>
                    <div class="col-md-5">
                      <label>ha</label>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-md-4">
                      <label class="azul">Total procesado: </label>
                    </div>
                    <div class="col-md-8">
                      <label>0.00</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </form>

      </div>
    </div>
  </div>
</div>