<div class="modal-custom">
  <div class="">
    <div class="p-2 mt-2">
      <h4 class="mx-2 sol-danger">Buscar Empleados</h4>
      <hr class="my-0" />
    </div>
    <div class="px-4">
      <div class="row">
        <div class="col-md-12 my-3">
          <label
            class="label-estilo"
            for="searchInp"
            style="font-size: 14px; width: 100%"
            >Buscar</label
          >
          <input
            type="text"
            [(ngModel)]="searchInp"
            class="form-control"
            id="searchInp"
            style="width: 100%"
            (keyup.enter)="onEnter(searchInp)"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 my-3">
          <label
            class="label-estilo"
            for="fields.nombreCompleto"
            style="font-size: 14px; width: 100%"
            >Nombre Empleado</label
          >
          <input
            readonly
            id="nameEmpInp"
            [(ngModel)]="fields.nombreCompleto"
            type="text"
            class="form-control mb-3"
            style="width: 100%"
          />
        </div>
        <div class="col-md-6 my-3">
          <label
            class="label-estilo"
            for="fields.fechaIngresogrupo"
            style="font-size: 14px; width: 100%"
            >Fecha de Ingreso</label
          >
          <input
            readonly
            id="feInp"
            [(ngModel)]="fields.fechaIngresogrupo"
            type="text"
            class="form-control mb-3"
            style="width: 100%"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 my-3">
          <label class="label-estilo" for="fields.nombreCargo" style="font-size: 14px"
            >Cargo</label
          >
          <input
            readonly
            id="caInp"
            [(ngModel)]="fields.nombreCargo"
            type="text"
            class="form-control mb-3"
            style="width: 100%"
          />
        </div>
        <div class="col-md-6 my-3">
          <label
            class="label-estilo"
            for="fields.unidadNegocio"
            style="font-size: 14px; width: 100%"
            >Unidad</label
          >
          <input
            readonly
            id="uniInp"
            [(ngModel)]="fields.unidadNegocio"
            type="text"
            class="form-control mb-3"
            style="width: 100%"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 my-3">
          <label
            class="label-estilo"
            for="fields.departamento"
            style="font-size: 14px; width: 100%"
            >Departamento</label
          >
          <input
            readonly
            id="depInp"
            [(ngModel)]="fields.departamento"
            type="text"
            class="form-control mb-3"
            style="width: 100%"
          />
        </div>
        <div class="col-md-6 my-3">
          <label
            class="label-estilo"
            for="fields.localidad"
            style="font-size: 14px; width: 100%"
            >Localidad</label
          >
          <input
            readonly
            id="locInp"
            [(ngModel)]="fields.localidad"
            type="text"
            class="form-control mb-3"
            style="width: 100%"
          />
        </div>
      </div>
    </div>
    <div class="p-4">
      <button
        type="button"
        class="btn btn-primary"
        (click)="onSeleccionar()"
      >
        Seleccionar
      </button>
      <button
        type="button"
        class="mx-3 btn btn-outline-secondary"
        (click)="activeModal.close('close')"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>
