.label-estilo {
	color: #0056B3;
	font-size: 16px;
	width: 45%;
	background-color: white;
	font-weight: 500;
	border-style: none;
	white-space: normal;
}

.label-estilo2 {
	color: #0056B3;
	font-size: 16px;
	width: 22%;
	background-color: white;
	font-weight: 500;
	border-style: none;
	white-space: normal;
}
