<!--Modal Crer Solicittud-->

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div>
        <h2 class="card-body text-start">
          <div class="row">
            <!--<div class="col-md-8">
                            <b style="color: rgb(227, 199, 22);font-size: 20px; margin: 20px;">Mantenimiento de rutas</b>
                        </div>-->
            <div class="col-md-8">
              <div class="mb-3">
                <a (click)="PageNivelesAprobacion()">
                  <h3 class="danger">
                    <i class="bi bi-arrow-left-circle azul"></i> Mantenimiento
                    de Aprobadores Fijos
                  </h3></a
                >
              </div>
            </div>

            <div class="col-md-4 text-end">
              <!--<button style="margin: 10px;color: black;" type="button" (click)="modal.dismiss('Cross click')"
                                class="mr-10 fz-14 btn btn-outline-secondary btn-icon-end">Cancelar
                            </button>-->

              <button
                type="button"
                class="mr-10 fz-14 btn btn-info btn-icon-end"
                aria-label="Close"
                aria-label="Close"
                (click)="guardarAprobadorFijo()"
              >
                <i class="fas fa-save"></i> Guardar
              </button>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-md-6">
              <div class="input-group">
                <label
                  class="input-group-text"
                  for="codigoposicion"
                  style="color: black; font-size: 14px; width: 45%"
                >
                  Código de posición
                </label>
                &nbsp;
                <input
                  type="text"
                  name="codigoposicion"
                  [(ngModel)]="modeloSearch.codigoPosicion"
                  style="color: black; font-size: 14px; width: 30%"
                  [ngbTypeahead]="searchCodigoPosicion"
                  (selectItem)="onSelectItem('codigoPosicion', $event)"
                  class="form-control"
                  id="codigoposicion"
                  aria-describedby="inputGroupPrepend"
                  required
                />
                <button class="btn btn-light" type="button" disabled>
                  <i class="ti-search"></i>
                </button>
              </div>
            </div>
          </div> -->

          <div
            class="row"
            style="
              padding-top: 20px;
              display: flex;
              justify-content: start;
              margin: 10px;
            "
          >
            <div class="col-md-12" style="width: 75%">
              <div class="input-group mb-3">
                <label
                  class="input-group-text"
                  for="codigoposicion"
                  style="color: black; font-size: 14px; width: 45%"
                >
                  Código de posición
                </label>
                &nbsp;
                <input
                  type="text"
                  name="codigoposicion"
                  [(ngModel)]="modelo.codigO_POSICION"
                  style="color: black; font-size: 14px; width: 30%"
                  [ngbTypeahead]="searchCodigoPosicion"
                  (selectItem)="onSelectItem('codigoPosicion', $event)"
                  class="form-control"
                  id="codigoposicion"
                  aria-describedby="inputGroupPrepend"
                  required
                />
                <button class="btn btn-light" type="button" disabled>
                  <i class="ti-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div
            class="row"
            style="
              padding-top: 20px;
              display: flex;
              justify-content: start;
              margin: 10px;
            "
          >
            <div class="col-md-12" style="width: 75%">
              <div class="input-group mb-3">
                <label
                  class="input-group-text"
                  for="nombreempleado"
                  style="color: black; font-size: 14px; width: 45%"
                >
                  Empleado
                </label>
                &nbsp;
                <input
                  type="text"
                  name="nombreempleado"
                  [(ngModel)]="modelo.nombre"
                  style="color: black; font-size: 14px; width: 30%"
                  [ngbTypeahead]="searchNombreCompleto"
                  (selectItem)="onSelectItem('nombreCompleto', $event)"
                  class="form-control"
                  id="nombreempleado"
                  aria-describedby="inputGroupPrepend"
                  required
                />
                <button class="btn btn-light" type="button" disabled>
                  <i class="ti-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div
            class="row"
            style="
              padding-top: 20px;
              display: flex;
              justify-content: start;
              margin: 10px;
            "
          >
            <div class="col-md-12" style="width: 75%">
              <div class="input-group mb-3">
                <label
                  class="input-group-text"
                  for="subledger"
                  style="color: black; font-size: 14px; width: 45%"
                >
                  Subledger
                </label>
                &nbsp;
                <input
                  type="text"
                  name="subledger"
                  [(ngModel)]="modelo.subleger"
                  style="color: black; font-size: 14px; width: 30%"
                  [ngbTypeahead]="searchSubledger"
                  (selectItem)="onSelectItem('subledger', $event)"
                  class="form-control"
                  id="subledger"
                  aria-describedby="inputGroupPrepend"
                  required
                />
                <button class="btn btn-light" type="button" disabled>
                  <i class="ti-search"></i>
                </button>
              </div>
            </div>
          </div>
          <div
            class="row"
            style="
              padding-top: 20px;
              display: flex;
              justify-content: start;
              margin: 10px;
            "
          >
            <div class="col-md-12" style="width: 75%">
              <div class="input-group mb-3">
                <label
                  class="input-group-text"
                  for="descripcionPosicion"
                  style="color: black; font-size: 14px; width: 45%"
                  >Descripción posición</label
                >
                <span
                  id="descripcionPosicion"
                  name=""
                  style="color: black; font-size: 14px; margin: auto auto"
                  class="text-center"
                  >{{ modelo.descripcioN_POSICION }}</span
                >
              </div>
            </div>
          </div>

          <div
            class="row"
            style="
              padding-top: 20px;
              display: flex;
              justify-content: start;
              margin: 10px;
            "
          >
            <div class="col-md-12" style="width: 75%">
              <div class="input-group mb-3">
                <label
                  class="input-group-text"
                  for="nivelDireccion"
                  style="color: black; font-size: 14px; width: 45%"
                  >Nivel de dirección</label
                >
                <span
                  id="nivelDireccion"
                  name=""
                  style="color: black; font-size: 14px; margin: auto auto"
                  class="text-center"
                  >{{ modelo.niveL_DIRECCION }}</span
                >
              </div>
            </div>
          </div>

          <div
            class="row"
            style="
              padding-top: 20px;
              display: flex;
              justify-content: start;
              margin: 10px;
            "
          >
            <div class="col-md-12" style="width: 75%">
              <div class="input-group mb-3">
                <label
                  class="input-group-text"
                  for="reportaa"
                  style="color: black; font-size: 14px; width: 45%"
                  >Reporta A</label
                >
                <span
                  id="reportaa"
                  name=""
                  style="color: black; font-size: 14px; margin: auto auto"
                  class="text-center"
                  >{{ modelo.reportA_A }}</span
                >
              </div>
            </div>
          </div>

          <div
            class="row"
            style="
              padding-top: 20px;
              display: flex;
              justify-content: start;
              margin: 10px;
            "
          >
            <div class="col-md-12" style="width: 75%">
              <div class="input-group mb-3">
                <label
                  class="input-group-text"
                  for="estado"
                  style="color: black; font-size: 14px; width: 45%"
                  >Estado</label
                >
                &nbsp;
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    required
                    id="estado"
                    [(ngModel)]="modelo.estado"
                    name="estado"
                    checked
                  />
                  <!-- {{ modelo.estado | json }} -->
                  <!-- <label
                    style="font-size: 14px"
                    class="form-check-label"
                    for="activo"
                    >Estado</label
                  > -->
                </div>
              </div>
            </div>
          </div>
        </h2>
      </div>
    </div>
  </div>
</div>
