<plantilla-a-component
  [columnsTable]="columnsTable"
  [originalDataTable]="dataTable"
  [placeholderHeaderInputText]="'Buscar...'"
  [contexto]="this"
  [tableInputsEditRow]="tableInputsEditRow"
  keyNameTable="id"
  [colsToFilterByText]="colsToFilterByText"
  [defaultEmptyRowTable]="defaultEmptyRowTable"
  [allowCloneButtonOnTable]="allowCloneButtonOnTable"
  [IdRowToClone]="IdRowToClone"
  colIdToDisable="codigo"
  [titleReport]="titleReport"
  [codigoReport]="codigoReport"
>
</plantilla-a-component>
