<div class="row">
  <!-- ==================================-->
  <!-- ======= Basic Nav ===== -->
  <!-- ==================================-->
  <div class="col-12">
    <div class="card">
      <!-- <div class="p-3">
        <h4 class="card-title mb-0">Basic Nav</h4>
      </div>-->
      <div class="card-body border-top">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills">
          <li [ngbNavItem]="1">
            <button ngbNavLink>Resumen</button>
            <ng-template ngbNavContent>
              <p></p>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <button ngbNavLink>Consultas</button>
            <ng-template ngbNavContent>
              <div class="form-body">
                <div class="row">
                  <div class="col-md-3">
                    <div class="mb-3">
                      <label class="azul">Empresa</label>
                      <ng-select
                        #inputSelectHacienda
                        [(ngModel)]="selected_empresa"
                        name="id_hacienda"
                        placeholder="Seleccione"
                      >
                        <ng-option
                          *ngFor="let car of data_empresas"
                          [value]="car.id"
                          >{{ car.id }} - {{ car.name }}</ng-option
                        >
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mb-3">
                      <label class="azul">Unidad de Negocio</label>
                      <ng-select
                        #inputSelectProducto
                        [(ngModel)]="selected_producto"
                        name="id_producto"
                        placeholder="Seleccione"
                      >
                        <ng-option
                          *ngFor="let car of data_productos"
                          [value]="car.id"
                          >{{ car.id }} - {{ car.name }}</ng-option
                        >
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mb-3">
                      <label class="azul">Fecha Desde</label>
                      <div class="input-group">
                        <input
                          #inputDateFecha
                          class="form-control"
                          placeholder="yyyy-mm-dd"
                          name="dp"
                          [(ngModel)]="model"
                          ngbDatepicker
                          [footerTemplate]="footerTemplate"
                          #d="ngbDatepicker"
                        />
                        <button
                          class="btn btn-outline-secondary bi bi-calendar3"
                          (click)="d.toggle()"
                          type="button"
                        >
                          <i-feather
                            class="feather-sm"
                            name="calendar"
                          ></i-feather>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mb-3">
                      <label class="azul">Fecha Hasta</label>
                      <div class="input-group">
                        <input
                          #inputDateFecha
                          class="form-control"
                          placeholder="yyyy-mm-dd"
                          name="dp"
                          [(ngModel)]="model"
                          ngbDatepicker
                          [footerTemplate]="footerTemplate"
                          #d="ngbDatepicker"
                        />
                        <button
                          class="btn btn-outline-secondary bi bi-calendar3"
                          (click)="d.toggle()"
                          type="button"
                        >
                          <i-feather
                            class="feather-sm"
                            name="calendar"
                          ></i-feather>
                        </button>
                      </div>
                    </div>
                  </div>
                  <!--<div class="col-md-3"></div>-->
                  <div class="col-md-4">
                    <div class="mb-3">
                      <label class="azul">Tipo de Solicitud</label>
                      <ng-select
                        #inputSelectLabor
                        [(ngModel)]="selected_tipo_solicitud"
                        name="id_tipo_labor"
                        placeholder="Seleccione"
                      >
                        <ng-option
                          *ngFor="let car of dataTipoSolicitudes"
                          [value]="car.id"
                          >{{ car.id }} - {{ car.descripcion }}</ng-option
                        >
                      </ng-select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="mb-3">
                      <label class="azul">Estado</label>
                      <ng-select
                        #inputSelectTrabajador
                        [(ngModel)]="selected_estado"
                        name="id_trabajador"
                        placeholder="Seleccione"
                      >
                        <ng-option
                          *ngFor="let car of data_estado"
                          [value]="car.id"
                          >{{ car.codigo }} - {{ car.descripcion }}</ng-option
                        >
                      </ng-select>
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div class="mb-3">
                      <div class="text-end">
                        <button
                          #buttonSearch
                          type="submit"
                          class="btn btn-info me-2"
                        >
                          <i class="fas fa-filter"></i> Buscar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ng-template #footerTemplate>
                <hr class="my-0" />
                <button class="btn btn-primary btn-sm m-2 float-start">
                  Today
                </button>
                <button
                  class="btn btn-secondary btn-sm m-2 float-end"
                  (click)="d.close()"
                >
                  Close
                </button>
              </ng-template>

              <form>
                <div class="row">
                  <div class="col-md-4">
                    <div class="input-group mb-3">
                      <!-- <input
                        type="text"
                        class="form-control"
                        placeholder="Buscar"
                        aria-label=""
                        aria-describedby="basic-addon1"
                      />
                      <button class="btn mr-0 btn-outline-secondary" type="button">
                        <i class="ti-search"></i>
                      </button>-->
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="mb-3">
                      <div class="text-end">
                        <button
                          type="button"
                          (click)="mostrarModalCrearSolicitudes()"
                          class="btn btn-info me-2"
                        >
                          <i class="fas fa-plus"></i> Agregar
                        </button>
                        <button
                          type="button"
                          (click)="PageCrear()"
                          class="btn btn-info me-2"
                        >
                          <i class="fas fa-redo"></i> Reasignar
                        </button>
                        <button type="submit" class="btn btn-outline-info me-2">
                          <i class="fas fa-file-excel"></i> Exportar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <plantilla-c-component
                [dataFilterNivelesAprobacion]="dataFilterNivelesAprobacion"
                [dataTipoMotivo]="dataTipoMotivo"
                [dataTipoSolicitudes]="dataTipoSolicitudes"
                [dataNivelDireccion]="dataNivelDireccion"
                [dataTipoAccion]="dataTipoAccion"
                [selected_empresa]="selected_empresa"
                [selected_producto]="selected_producto"
                [selected_tipo_solicitud]="selected_tipo_solicitud"
                [selected_estado]="selected_estado"
                [data_empresas]="data_empresas"
                [data_productos]="data_productos"
                [data_estado]="data_estado"
                [model]="model"
                *ngIf="hasFiltered"
                [columnsTable]="columnsTable"
                [originalDataTable]="dataTable"
                [placeholderHeaderInputText]="'Buscar niveles de aprobacion...'"
                [contexto]="this"
                keyNameTable="id"
                clickOnActionRow="onRowActionClicked"
                clickOnFilter="filterDataTable"
                clickOnMostrarModalCrearSolicitudes="mostrarModalCrearSolicitudes"
                clickOnToggleDisabled="toggleDisabled"
                clickOnPageCrear="pageCrear"
                [IdRowToClone]="IdRowToClone"
                colIdToDisable="id"
                titleReport="NIVELES DE APROBACION"
                [codigoReport]="codigoReporte"
              >
              </plantilla-c-component>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        <div class="bg-light p-3 rounded"></div>
        <!--<div class="bg-light p-3 rounded">Active: {{ active }}</div>-->
      </div>
    </div>
  </div>
</div>
<!--Modal Crer Solicittud-->
<ng-template #myModalSolicitudes let-modal>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div>
          <h2 class="card-body text-start">
            <div class="row">
              <div class="col-md-8">
                <b
                  style="
                    color: rgb(227, 199, 22);
                    font-size: xx-large;
                    margin: 20px;
                  "
                  >Crear Solicitud</b
                >
              </div>

              <div class="col-md-4 text-end">
                <button
                  style="margin: 10px; color: black"
                  type="button"
                  (click)="modal.dismiss('Cross click')"
                  class="mr-10 fz-14 btn btn-outline-secondary btn-icon-end"
                >
                  Cancelar
                </button>

                <button
                  type="button"
                  class="mr-10 fz-14 btn btn-info btn-icon-end"
                  (click)="CrearSolicitud()"
                  aria-label="Close"
                  aria-label="Close"
                >
                  <i class="fas fa-save"></i> Guardar
                </button>
              </div>
            </div>
            <div
              class="row"
              style="
                padding-top: 20px;
                display: flex;
                justify-content: start;
                margin: 10px;
              "
            >
              <div class="col-md-12" style="width: 75%">
                <div class="input-group mb-3">
                  <label
                    class="input-group-text"
                    for="tiposolicitud"
                    style="color: black; font-size: 14px; width: 45%"
                    >Tipo Solicitud</label
                  >
                  <select
                    id="tiposolicitud"
                    name="tiposolicitud"
                    class="form-select"
                    style="font-size: 14px"
                    [(ngModel)]="solicitud.idTipoSolicitud"
                    required
                  >
                    <option value="" hidden>Selecccione</option>
                    <option
                      *ngFor="let baseDeDatos of dataTipoSolicitudes"
                      [value]="baseDeDatos.id"
                    >
                      {{ baseDeDatos.descripcion }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div
              class="row"
              style="
                padding-top: 20px;
                display: flex;
                justify-content: start;
                margin: 10px;
              "
            >
              <div class="col-md-12" style="width: 75%">
                <div class="input-group mb-3">
                  <label
                    class="input-group-text"
                    for="tipomotivo"
                    style="color: black; font-size: 14px; width: 45%"
                    >Tipo de Motivo</label
                  >
                  <select
                    id="tipomotivo"
                    name="tipomotivo"
                    class="form-select"
                    style="font-size: 14px"
                    [(ngModel)]="solicitud.idTipoMotivo"
                    required
                  >
                    <option value="" hidden>Selecccione</option>
                    <option
                      *ngFor="let baseDeDatos of dataTipoMotivo"
                      [value]="baseDeDatos.id"
                    >
                      {{ baseDeDatos.descripcion }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div
              class="row"
              style="
                padding-top: 20px;
                display: flex;
                justify-content: start;
                margin: 10px;
              "
            >
              <div class="col-md-12" style="width: 75%">
                <div class="input-group mb-3">
                  <label
                    class="input-group-text"
                    for="tipocumplimiento"
                    style="color: black; font-size: 14px; width: 45%"
                    >Tipo de Acción</label
                  >
                  <select
                    id="tipocumplimiento"
                    name="tipocumplimiento"
                    class="form-select"
                    style="font-size: 14px"
                    [(ngModel)]="solicitud.idTipoAccion"
                    required
                  >
                    <option value="" hidden>Selecccione</option>
                    <option
                      *ngFor="let baseDeDatos of dataTipoAccion"
                      [value]="baseDeDatos.id"
                    >
                      {{ baseDeDatos.descripcion }}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div
              class="row"
              style="
                padding-top: 20px;
                display: flex;
                justify-content: start;
                margin: 10px;
              "
              [hidden]="!submitted"
            >
              <p>
                Proceso ha sido iniciado.
                <br />
                <code>{{ this.getCreatedId() }}</code>
                <br />
              </p>
            </div>
          </h2>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!--End Modal Crear Solicitud-->

<!-- <plantilla-c-component
  [dataFilterNivelesAprobacion]="dataFilterNivelesAprobacion"
  [dataTipoMotivo]="dataTipoMotivo"
  [dataTipoSolicitudes]="dataTipoSolicitudes"
  [dataNivelDireccion]="dataNivelDireccion"
  [selected_empresa]="selected_empresa"
  [selected_producto]="selected_producto"
  [selected_tipo_solicitud]="selected_tipo_solicitud"
  [selected_estado]="selected_estado"
  [data_empresas]="data_empresas"
  [data_productos]="data_productos"
  [data_estado]="data_estado"
  [model]="model"
  *ngIf="hasFiltered"
  [columnsTable]="columnsTable"
  [originalDataTable]="dataTable"
  [placeholderHeaderInputText]="'Buscar niveles de aprobacion...'"
  [contexto]="this"
  keyNameTable="id"
  clickOnActionRow="onRowActionClicked"
  clickOnFilter="filterDataTable"
  clickOnMostrarModalCrearSolicitudes="mostrarModalCrearSolicitudes"
  clickOnToggleDisabled="toggleDisabled"
  clickOnPageCrear="pageCrear"
  [IdRowToClone]="IdRowToClone"
  colIdToDisable="id"
  titleReport="NIVELES DE APROBACION"
  [codigoReport]="codigoReporte"
>
</plantilla-c-component> -->
