.accordion {
	border-radius: 16px;
	overflow: hidden;
	box-shadow: 0px 7px 8px 0px rgba(gray, 0.5);

	button.accordion-button > div.row > div.col:first-child {
		font-weight: bold;
	}

	& > .accordion-item:not(:first-child) {
		& > .accordion-header {
			border-top: 1px solid gray;
		}

		& > .accordion-collapse.collapse.show {
			border-top: 1px solid rgba(gray, 0.5);
		}
	}

	.accordion-collapse.collapse {
		padding: 30px 20px;

		animation: fade-in 3s;

		.input-group > label {
			width: 24%;
			color: #0056b3;
			font-size: 16px;
		}

		.input-group > span {
			width: 74%;
			text-align: left;
		}
	}
}

@keyframes fade-in {
	to {
		opacity: 100;
		display: block;
	}
}
