<form (ngSubmit)="onSubmit()" #SolicitudForm="ngForm" #solicitudForm="ngForm">
	<div class="card">
		<div class="card-body text-start">
			<div class="header-solicitud">
				<div class="row">
					<div class="col-md-8">
						<div class="mb-3">
							<h3 class="sol-danger">
								<a [routerLink]="existeMatenedores ? '/solicitudes/reasignar-tareas-usuarios' : '/tareas/consulta-tareas'"> <i class="bi bi-arrow-left-circle azul"></i> {{ solicitud.idSolicitud }} </a>
							</h3>
						</div>
					</div>

					<div class="col-md-4 text-end">
						<button *ngIf="existeMatenedores" type="button" (click)="openModalReasignarUsuario()" class="btn btn-info me-2 mt-1"><i class="fas fa-redo"></i> Reasignar</button>

						<div *ngIf="!existeMatenedores || existe">
							<div *ngIf="solicitud.estadoSolicitud !== 'DV'; else botonesDevuelto" class="d-flex justify-content-end gap-3">
								<button type="submit" class="btn btn-info me-2 d-flex align-items-center justify-content-center button-custom" aria-label="Close" [disabled]="!solicitudForm.form.valid || !existenNivelesAprobacion || selectedOption === 'Si' || model.justificacionCargo === ''"><i class="fas fa-save me-2 icon-size"></i> Guardar</button>

								<button *ngIf="RegistrarsolicitudCompletada || selectedOption === 'Si'" type="button" (click)="onCompletar()" class="btn btn-info me-2 d-flex align-items-center justify-content-center button-custom"><i class="fas fa-check-circle me-2 icon-size"></i> Enviar Solicitud</button>
							</div>

							<ng-template #botonesDevuelto>
								<div class="d-flex justify-content-end gap-3">
									<button type="submit" class="btn btn-info me-2 d-flex align-items-center justify-content-center button-custom" aria-label="Close" [disabled]="!solicitudForm.form.valid || !existenNivelesAprobacion || selectedOption === 'Si' || bloquearEnDevolver()"><i class="fas fa-save me-2 icon-size"></i> Guardar</button>

									<button *ngIf="RegistrarsolicitudCompletada || selectedOption === 'Si'" [disabled]="estadoSolicitud !== 'DV'" type="button" (click)="onCompletar()" class="btn btn-info me-2 d-flex align-items-center justify-content-center button-custom"><i class="fas fa-check-circle me-2 icon-size"></i> Enviar Solicitud</button>
								</div>
							</ng-template>
						</div>
					</div>
				</div>

				<app-solicitud-header-data [usuarioCreacion]="solicitud.usuarioCreacion" [fechaCreacion]="solicitud.fechaCreacion" [idSolicitud]="solicitud.idSolicitud"></app-solicitud-header-data>

				<hr />
			</div>

			<div class="after-header-solicitud"></div>

			<div class="row">
				<div class="col-md-6">
					<div class="input-group mb-3 align-items-center">
						<label class="input-group-text text-start label-estilo" for="nombre-empleado">Nombre de Empleado</label>

						<span *ngIf="existeMatenedores; else nombreEmpleadoEditable" style="color: black; font-size: 14px" class="text-start w-50">{{ model.nombreCompleto }}</span>

						<ng-template #nombreEmpleadoEditable>
							<input *ngIf="taskType_Activity !== 'AP_CompletarSolicitud'" type="text" name="nombre-empleado" [(ngModel)]="model.nombreCompleto" style="color: black; font-size: 14px; width: 33%" class="form-control" id="codigoposicion" aria-describedby="inputGroupPrepend" required placeholder="Nombre del empleado" (click)="openModal()" readonly />

							<button *ngIf="taskType_Activity !== 'AP_CompletarSolicitud'" class="btn btn-light" type="button" (click)="openModal()">
								<i class="ti-search"></i>
							</button>
						</ng-template>
					</div>
				</div>

				<div class="col-md-6">
					<div class="input-group mb-3 align-items-center">
						<label class="input-group-text text-start label-estilo" for="subledger">Subledger</label>

						<span *ngIf="existeMatenedores; else subledgerEditable" style="color: black; font-size: 14px" class="text-start w-50">{{ model.subledger }}</span>

						<ng-template #subledgerEditable>
							<input *ngIf="taskType_Activity !== 'AP_CompletarSolicitud'" type="text" name="subledger" [(ngModel)]="model.subledger" style="color: black; font-size: 14px; width: 30%" class="form-control" id="codigoposicion" aria-describedby="inputGroupPrepend" required placeholder="Subledger" (click)="openModal()" readonly />

							<button *ngIf="taskType_Activity !== 'AP_CompletarSolicitud'" class="btn btn-light" type="button" (click)="openModal()">
								<i class="ti-search"></i>
							</button>
						</ng-template>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="input-group mb-3 align-items-center">
						<label class="input-group-text text-start label-estilo2" for="justificacion">Justificación <span style="color: red">*</span></label>

						<span *ngIf="existeMatenedores; else justificacionEditable" style="color: black; font-size: 14px" class="text-start w-75">{{ model.justificacionCargo }}</span>

						<ng-template #justificacionEditable>
							<textarea class="form-control" id="justificacion" name="justificacion" placeholder="Campo obligatorio" [(ngModel)]="model.justificacionCargo" style="color: black; font-size: 14px" required></textarea>
						</ng-template>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="input-group mb-3 align-items-center">
						<label class="input-group-text text-start label-estilo" for="tipo-accion">Tipo de acción</label>

						<select class="form-select w-50" name="tipo-accion" [(ngModel)]="solicitud.idTipoAccion" [disabled]="solicitud.idTipoAccion !== 0 || existeMatenedores">
							<option value="" hidden>Seleccione...</option>

							<option *ngFor="let tipoAccion of tiposAcciones" [value]="tipoAccion.id">{{ tipoAccion.tipoAccion }}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="mx-auto mb-3">
				<div class="form-check form-check-inline">
					<div class="form-check text-center">
						<input type="checkbox" class="form-check-input" name="customCheck1" [(ngModel)]="viewInputs" id="customCheck1" [checked]="taskType_Activity === 'AP_CompletarSolicitud'" [disabled]="existeMatenedores" />

						<label class="form-check-label" for="customCheck1">Transferencia de Compañía</label>
					</div>
				</div>
			</div>

			<!-- ! Información del empleado -->
			<app-solicitud-seccion-desplegable titleSummary="Información del Empleado" [isOpen]="true">
				<div>
					<div class="row">
						<div class="col-md-6">
							<div class="row my-2 text-center">
								<h2 class="col-12 sol-danger">Datos actuales</h2>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="tipoSolicitud">Fecha de Ingreso</label>

									<span #mivar id="tipoSolicitud" name="tipoSolicitud" style="color: black; font-size: 14px" class="text-start w-50">{{ model.fechaIngresogrupo | date : "yyyy/MM/dd" }}</span>
								</div>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="tipoMotivo">Compañía</label>

									<span id="comp" name="comp" style="color: black; font-size: 14px" class="text-start w-50">{{ model.compania }}</span>
								</div>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="tipoMotivo">Unidad</label>

									<span id="unidad" name="unidad" style="color: black; font-size: 14px" class="text-start w-50">{{ model.unidadNegocio }}</span>
								</div>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="tipoMotivo">Área/Departamento</label>

									<span id="comp" name="comp" style="color: black; font-size: 14px" class="text-start w-50">{{ model.departamento }}</span>
								</div>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="tipoMotivo">Localidad/Zona</label>

									<span id="unidad" name="unidad" style="color: black; font-size: 14px" class="text-start w-50">{{ model.localidad }}</span>
								</div>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="tipoMotivo">Grupo de Pago</label>

									<span id="unidad" name="unidad" style="color: black; font-size: 14px" class="text-start w-50">{{ model.grupoPago }}</span>
								</div>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="tipoMotivo">Puesto</label>

									<span id="comp" name="comp" style="color: black; font-size: 14px" class="text-start w-50">{{ model.descrPuesto }}</span>
								</div>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="tipoMotivo">Centro de Costo</label>

									<span id="unidad" name="unidad" style="color: black; font-size: 14px" class="text-start w-50">{{ model.nomCCosto }}</span>
								</div>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="tipoMotivo">Sucursal (Nómina)</label>

									<span id="unidad" name="unidad" style="color: black; font-size: 14px" class="text-start w-50">{{ model.sucursal }}</span>
								</div>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="mov">Movilización</label>

									<span id="mov" name="mov" style="color: black; font-size: 14px" class="text-start w-50">$ 0.00</span>
								</div>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="al">Alimentación</label>

									<span id="al" name="al" style="color: black; font-size: 14px" class="text-start w-50">$ 0.00</span>
								</div>
							</div>

							<div class="row my-4">
								<div class="col-12">
									<label class="input-group label-estilo" style="font-size: 20px; color: black" for="tipoMotivo">Tipo de Variable </label>
								</div>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="tipoMotivo">Sueldo</label>

									<span id="comp" name="comp" style="color: black; font-size: 14px" class="text-start w-50">$ {{ model.sueldo | number : "1.2-2" }}</span>
								</div>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="me">Mensual</label>

									<span id="me" name="me" style="color: black; font-size: 14px" class="text-start w-50">$ {{ model.sueldoMensual | number : "1.2-2" }}</span>
								</div>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="al">Trimestral</label>

									<span id="al" name="al" style="color: black; font-size: 14px" class="text-start w-50">$ {{ model.sueldoTrimestral | number : "1.2-2" }}</span>
								</div>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="al">Semestral</label>

									<span id="al" name="al" style="color: black; font-size: 14px" class="text-start w-50">$ {{ model.sueldoSemestral | number : "1.2-2" }}</span>
								</div>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="al">Anual</label>

									<span id="al" name="al" style="color: black; font-size: 14px" class="text-start w-50">$ {{ model.sueldoAnual | number : "1.2-2" }}</span>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="row my-2 text-center">
								<h2 class="col-12 sol-danger">Datos propuestos</h2>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="tipoSolicitud">Fecha de Cambio (dd/mm/yyyy)</label>

									<span *ngIf="existeMatenedores; else fechaCambioEditable" style="color: black; font-size: 14px" class="text-start w-50">{{ fechaCambioPropuesta | date : "yyyy/MM/dd" }}</span>

									<ng-template #fechaCambioEditable>
										<div class="datepicker-container">
											<mat-form-field appearance="outline">
												<input matInput [matDatepicker]="picker" [min]="minDateValidation" [max]="maxDateValidation" [(ngModel)]="fechaCambioPropuesta" class="form-control" id="fecha-ingreso" required name="fecha-ingreso" />

												<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

												<mat-datepicker #picker></mat-datepicker>
											</mat-form-field>
										</div>
									</ng-template>
								</div>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3 align-items-center">
									<label class="input-group-text text-start label-estilo" for="tipoMotivo">Compañía</label>

									<span *ngIf="existeMatenedores; else companiaEditable" style="color: black; font-size: 14px" class="text-start w-50">{{ transferenciaCompania }}</span>

									<ng-template #companiaEditable>
										<ng-select #inputSelectHacienda class="flex-fill" [(ngModel)]="transferenciaCompania" name="compania" placeholder="Seleccione la Compañia" [disabled]="!viewInputs">
											<ng-option *ngFor="let data of dataEmpresa" [value]="data">{{ data }}</ng-option>
										</ng-select>
									</ng-template>
								</div>
							</div>

							<div class="row">
								<div class="col-12 input-group mb-3">
									<label class="input-group-text text-start label-estilo" for="tipoMotivo">Unidad</label>

									<span *ngIf="existeMatenedores; else unidadNegocioEditable" style="color: black; font-size: 14px" class="text-start w-50">{{ transferenciaUnidadNegocio }}</span>

									<ng-template #unidadNegocioEditable>
										<ng-select #inputSelectProducto class="flex-fill" [(ngModel)]="transferenciaUnidadNegocio" name="unidad" placeholder="Seleccione la Unidad de Negocio" [disabled]="!viewInputs">
											<ng-option *ngFor="let data of dataUnidadesNegocio" [value]="data">{{ data }}</ng-option>
										</ng-select>
									</ng-template>
								</div>
							</div>

							<div *ngIf="!viewInputs">
								<div class="row">
									<div class="col-12 input-group mb-3 align-items-center">
										<label class="input-group-text text-start label-estilo" for="codigoPosicionPropuesto">Código de posición</label>

										<span *ngIf="existeMatenedores; else codigoPosicionEditable" style="color: black; font-size: 14px" class="text-start w-50">{{ modelPropuestos.codigoPosicion }}</span>

										<ng-template #codigoPosicionEditable>
											<input type="text" name="codigoPosicionPropuesto" [(ngModel)]="modelPropuestos.codigoPosicion" style="color: black; font-size: 14px; width: 33%" class="form-control" id="codigoposicion" aria-describedby="inputGroupPrepend" required placeholder="Código de posición" (click)="openModalPropuestos()" readonly />

											<button class="btn btn-light" type="button" (click)="openModalPropuestos()">
												<i class="ti-search"></i>
											</button>
										</ng-template>
									</div>
								</div>

								<div class="row">
									<div class="col-12 input-group mb-3 align-items-center">
										<label class="input-group-text text-start label-estilo" for="tipoMotivo">Área/Departamento</label>

										<span style="color: black; font-size: 14px" class="text-start w-50">{{ modelPropuestos.departamento }}</span>
									</div>
								</div>

								<div class="row">
									<div class="col-12 input-group mb-3 align-items-center">
										<label class="input-group-text text-start label-estilo" for="tipoMotivo">Localidad/Zona</label>

										<span style="color: black; font-size: 14px" class="text-start w-50">{{ modelPropuestos.localidad }}</span>
									</div>
								</div>

								<div class="row">
									<div class="col-12 input-group mb-3 align-items-center">
										<label class="input-group-text text-start label-estilo" for="tipoMotivo">Grupo de Pago</label>

										<span style="color: black; font-size: 14px" class="text-start w-50">{{ modelPropuestos.grupoPago }}</span>
									</div>
								</div>

								<div class="row">
									<div class="col-12 input-group mb-3 align-items-center">
										<label class="input-group-text text-start label-estilo" for="tipoMotivo">Puesto</label>

										<span style="color: black; font-size: 14px" class="text-start w-50">{{ modelPropuestos.descrPuesto }}</span>
									</div>
								</div>

								<div class="row">
									<div class="col-12 input-group mb-3 align-items-center">
										<label class="input-group-text text-start label-estilo" for="tipoMotivo">Centro de Costo</label>

										<span style="color: black; font-size: 14px" class="text-start w-50">{{ modelPropuestos.nomCCosto }}</span>
									</div>
								</div>

								<div class="row">
									<div class="col-12 input-group mb-3 align-items-center">
										<label class="input-group-text text-start label-estilo" for="tipoMotivo">Sucursal (Nómina)</label>

										<span style="color: black; font-size: 14px" class="text-start w-50">{{ modelPropuestos.sucursal }}</span>
									</div>
								</div>

								<div class="row">
									<div class="col-12 input-group mb-3 align-items-center">
										<div class="d-flex justify-content-between align-items-center input-group-text label-estilo">
											<label for="mov">Movilización</label>

											<span class="fs-6">$</span>
										</div>

										<span *ngIf="existeMatenedores; else movilizacionEditable" style="color: black; font-size: 14px" class="text-start w-50">{{ detalleSolicitudPropuestos.movilizacion }}</span>

										<ng-template #movilizacionEditable>
											<input type="text" name="movilizacion" placeholder="Campo obligatorio" mask="separator.2" [(ngModel)]="detalleSolicitudPropuestos.movilizacion" class="form-control" id="movilizacion" required />
										</ng-template>
									</div>
								</div>

								<div class="row">
									<div class="col-12 input-group mb-3 align-items-center">
										<div class="d-flex justify-content-between align-items-center input-group-text label-estilo">
											<label for="al">Alimentación</label>

											<span class="fs-6">$</span>
										</div>

										<span *ngIf="existeMatenedores; else alimentacionEditable" style="color: black; font-size: 14px" class="text-start w-50">{{ detalleSolicitudPropuestos.alimentacion }}</span>

										<ng-template #alimentacionEditable>
											<input type="text" name="alimentacion" placeholder="Campo obligatorio" mask="separator.2" [(ngModel)]="detalleSolicitudPropuestos.alimentacion" class="form-control" id="alimentacion" required />
										</ng-template>
									</div>
								</div>

								<div class="row my-4">
									<div class="col-12">
										<label class="input-group label-estilo" style="font-size: 20px; color: black" for="tipoMotivo">Tipo de Variable </label>
									</div>
								</div>

								<div class="row">
									<div class="col-12 input-group mb-3 align-items-center">
										<div class="d-flex justify-content-between align-items-center input-group-text label-estilo">
											<label class="input-group-text text-start label-estilo" for="tipoMotivo">Sueldo</label>

											<span>$</span>
										</div>

										<span *ngIf="existeMatenedores; else sueldoEditable" style="color: black; font-size: 14px" class="text-start w-50">{{ modelPropuestos.sueldo }}</span>

										<ng-template #sueldoEditable>
											<input [(ngModel)]="modelPropuestos.sueldo" type="text" mask="separator.2" [leadZero]="true" name="sueldo" class="form-control" id="sueldo" />
										</ng-template>
									</div>
								</div>

								<div class="row">
									<div class="col-12 input-group mb-3 align-items-center">
										<div class="d-flex justify-content-between align-items-center input-group-text label-estilo">
											<label class="input-group-text text-start label-estilo" for="me">Mensual</label>

											<span>$</span>
										</div>

										<span *ngIf="existeMatenedores; else sueldoMensualEditable" style="color: black; font-size: 14px" class="text-start w-50">{{ modelPropuestos.sueldoMensual }}</span>

										<ng-template #sueldoMensualEditable>
											<input [(ngModel)]="modelPropuestos.sueldoMensual" type="text" mask="separator.2" [leadZero]="true" name="sueldo-mensual" class="form-control" id="sueldo-mensual" />
										</ng-template>
									</div>
								</div>

								<div class="row">
									<div class="col-12 input-group mb-3 align-items-center">
										<div class="d-flex justify-content-between align-items-center input-group-text label-estilo">
											<label class="input-group-text text-start label-estilo" for="al">Trimestral</label>

											<span>$</span>
										</div>

										<span *ngIf="existeMatenedores; else sueldoTrimestralEditable" style="color: black; font-size: 14px" class="text-start w-50">{{ modelPropuestos.sueldoTrimestral }}</span>

										<ng-template #sueldoTrimestralEditable>
											<input [(ngModel)]="modelPropuestos.sueldoTrimestral" type="text" mask="separator.2" [leadZero]="true" name="sueldo-trimestral" class="form-control" id="sueldo-trimestral" />
										</ng-template>
									</div>
								</div>

								<div class="row">
									<div class="col-12 input-group mb-3 align-items-center">
										<div class="d-flex justify-content-between align-items-center input-group-text label-estilo">
											<label class="input-group-text text-start label-estilo" for="al">Semestral</label>

											<span>$</span>
										</div>

										<span *ngIf="existeMatenedores; else sueldoSemestralEditable" style="color: black; font-size: 14px" class="text-start w-50">{{ modelPropuestos.sueldoSemestral }}</span>

										<ng-template #sueldoSemestralEditable>
											<input [(ngModel)]="modelPropuestos.sueldoSemestral" type="text" mask="separator.2" [leadZero]="true" name="sueldo-semestral" class="form-control" id="sueldo-semestral" />
										</ng-template>
									</div>
								</div>

								<div class="row">
									<div class="col-12 input-group mb-3 align-items-center">
										<div class="d-flex justify-content-between align-items-center input-group-text label-estilo">
											<label class="input-group-text text-start label-estilo" for="al">Anual</label>

											<span>$</span>
										</div>

										<span *ngIf="existeMatenedores; else sueldoAnualEditable" style="color: black; font-size: 14px" class="text-start w-50">{{ modelPropuestos.sueldoAnual }}</span>

										<ng-template #sueldoAnualEditable>
											<input [(ngModel)]="modelPropuestos.sueldoAnual" type="text" mask="separator.2" [leadZero]="true" name="sueldo-anual" class="form-control" id="sueldo-anual" />
										</ng-template>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</app-solicitud-seccion-desplegable>

			<!-- ! Aprobadores de la solicitud -->
			<app-solicitud-seccion-desplegable titleSummary="Aprobadores de la solicitud">
				<div>
					<div class="accordion" id="accordionExample">
						<div *ngFor="let nivelItem of dataAprobacionesPorPosicion[keySelected]; let i = index" class="accordion-item">
							<div class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i" style="display: block">
									<div class="row" style="align-items: center; justify-content: space-around">
										<div class="col">
											{{ nivelItem.nivelAprobacionType.ruta }}
										</div>

										<div class="col">
											{{ nivelItem.aprobador.usuario !== "" && nivelItem.aprobador.usuario !== undefined && nivelItem.aprobador.usuario != null ? nivelItem.aprobador.codigoPosicion + "-" + nivelItem.aprobador.usuario : "No aplica" }}
										</div>

										<div class="col">
											{{ nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("REGISTRARSOLICITUD") ? "Registrar Solicitud" : nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("CANDIDATO") ? "Selección de Candidato" : nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("COMENTARIOJEFE") ? "Registrar Comentario Jefe Anterior o Referencia" : nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("COMENTARIORRHH") ? "Registrar Comentario RR.HH." : nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("COMENTARIOSOLICITANTE") ? "Registrar Comentario Jefe Solicitante" : nivelItem.nivelAprobacionType.nivelAprobacionRuta }}
										</div>
									</div>
								</button>
							</div>

							<div [id]="'collapse' + i" class="accordion-collapse collapse" [ngClass]="{ show: i === 0 }" data-bs-parent="#accordionExample">
								<div class="row">
									<div class="col">
										<div class="input-group">
											<label for="lvl1descripcion"> Descripción de la posición </label>

											<span id="lvl1descripcion" name="" style="color: black; font-size: 14px">{{ nivelItem.aprobador.descripcionPosicion !== "" && nivelItem.aprobador.descripcionPosicion !== undefined && nivelItem.aprobador.descripcionPosicion != null ? nivelItem.aprobador.descripcionPosicion : "No aplica" }}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</app-solicitud-seccion-desplegable>

			<!-- ! Anulación de la solicitud -->
			<app-solicitud-seccion-desplegable titleSummary="Anulación de Solicitud">
				<div>
					<div class="row">
						<div class="col-md-12">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo2">¿Anular solicitud?</label>

								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Si" [(ngModel)]="selectedOption" (change)="onSelectionChange()" />

									<label class="form-check-label" for="inlineRadio1">Si</label>
								</div>

								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="No" [(ngModel)]="selectedOption" (change)="onSelectionChange()" />

									<label class="form-check-label" for="inlineRadio2">No</label>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo2" for="anulacion">Comentarios Anulación de Solicitud</label>

								<textarea id="anulacion" name="anulacion" [(ngModel)]="model.comentariosAnulacion" style="color: black; font-size: 14px; height: 100px"></textarea>
							</div>
						</div>
					</div>
				</div>
			</app-solicitud-seccion-desplegable>
		</div>
	</div>
</form>
