<form (ngSubmit)="onSubmit()" #SolicitudForm="ngForm" #solicitudForm="ngForm">
  <div class="card">
    <h2 class="card-body text-start">
      <div class="row justify-around">
        <div class="col">
          <div class="mb-3">
            <a (click)="pageSolicitudes()">
              <h3 class="sol-danger">
                <i class="bi bi-arrow-left-circle azul"></i>
                {{ solicitud.idSolicitud }}
              </h3></a
            >
          </div>
        </div>
        <div class="col text-end">
          <button
            *ngIf="RegistrarsolicitudCompletada"
            type="button"
            (click)="openModal('dialogReasignarUsuario')"
            class="btn btn-info me-2 mt-1"
          >
            <i class="fas fa-redo"></i> Reasignar
          </button>
          <button
            *ngIf="RegistrarsolicitudCompletada"
            type="button"
            type="submit"
            class="btn btn-info me-2 mt-1"
            aria-label="Close"
            [disabled]="!solicitudForm.form.valid"
          >
            <i class="fas fa-save"></i> Guardar
          </button>
          <button
            type="button"
            (click)="onCompletar()"
            class="btn btn-info me-2 mt-1"
          >
            <i class="fas fa-check-circle"></i> Completar Tarea
          </button>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="mb-4">
            <a>
              <h3 class="sol-danger">Información de persona a contratar</h3></a
            >
          </div>
        </div>
        <div class="col-md-8">
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="input-group mb-3">
            <label class="input-group-text label-estilo" for="tipoSolicitud"
              >Nro de Solicitud de Requisicion</label
            >
            &nbsp;
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <span
              #mivar
              id="tipoSolicitud"
              name="idTipoSolicitud"
              style="color: black; font-size: 14px"
              class="text-start"
              >{{ "Numero 3" }}</span
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="input-group mb-3">
            <label class="input-group-text label-estilo" for="tipoSolicitud"
              >Justificacion*</label
            >
          </div>
        </div>

        <div class="col-md-7">
          <div class="input-group mb-3">
            <textarea
              name="descripcionposicion"
              [(ngModel)]="model.descrPosicion"
              style="color: black; font-size: 14px; width: 100%; resize: none"
              class="form-control"
              id="descripcionposicion"
              rows="3"
              required
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"></div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label class="input-group-text label-estilo" for="codigoposicion">
            Nombre del candidato seleccionado
          </label>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <span
              #mivar
              id="tipoSolicitud"
              name="idTipoSolicitud"
              style="color: black; font-size: 14px"
              class="text-start"
              >{{ solicitud.tipoSolicitud }}</span
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <div class="input-group mb-3">
            <label class="input-group-text label-estilo" for="compania"
              >Compañía</label
            >
            <span
              id="compania"
              name=""
              style="color: black; font-size: 14px"
              class="text-start"
              >{{ model.compania }}</span
            >
          </div>
        </div>
        <div class="col-md">
          <div class="input-group mb-3">
            <label class="input-group-text label-estilo" for="unidadnegocio"
              >Unidad de negocio</label
            >
            <span
              id="unidadnegocio"
              name=""
              style="color: black; font-size: 14px"
              class="text-start"
              >{{ model.unidadNegocio }}</span
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <div class="input-group mb-3">
            <label class="input-group-text label-estilo" for="departamento"
              >Departamento</label
            >
            <span
              id="departamento"
              name=""
              style="color: black; font-size: 14px"
              class="text-start"
              >{{ model.departamento }}</span
            >
          </div>
        </div>
        <div class="col-md">
          <div class="input-group mb-3">
            <label class="input-group-text label-estilo" for="tipocargo"
              >Localidad</label
            >
            <span
              id="cargo"
              name=""
              style="color: black; font-size: 14px"
              class="text-start"
              >{{ model.localidad }}</span
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <div class="input-group mb-3">
            <label class="input-group-text label-estilo" for="localidadzona"
              >Cargo</label
            >
            <span
              id="localidadzona"
              name=""
              style="color: black; font-size: 14px"
              class="text-start"
              >{{ "Prueba" }}</span
            >
          </div>
        </div>
        <div class="col-md">
          <div class="input-group mb-3">
            <label class="input-group-text label-estilo" for="niveldirección"
              >Tipo de contrato</label
            >
            <span
              id="niveldirección"
              name=""
              style="color: black; font-size: 14px"
              class="text-start"
              >{{ "Especial" }}</span
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <div class="input-group mb-3">
            <label class="input-group-text label-estilo" for="centrocosto"
              >Jefe solicitante</label
            >
            <span
              id="centrocosto"
              name=""
              style="color: black; font-size: 14px"
              class="text-start"
              >{{ "Pedro Ramirez" }}</span
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-7">
          <div class="input-group mb-3">
            <label class="input-group-text label-estilo" for="centrocosto"
              >Responsable de RRHH</label
            >
            <span
              id="centrocosto"
              name=""
              style="color: black; font-size: 14px"
              class="text-start"
              >{{ "Juan Garcez" }}</span
            >
          </div>
        </div>
      </div>
      <div class="row" *ngIf="mostrarTipoJustificacionYMision">
        <div class="col">
          <div class="input-group mb-3 contenedor">
            <label class="input-group-text adjustable-label" for="justificacion"
              >Justificación</label
            >
            &nbsp;
            <textarea
              id="justificacion"
              name="justificacion"
              [(ngModel)]="model.justificacionCargo"
              style="color: black; font-size: 14px"
              required
              #justificacion="ngModel"
            ></textarea>
          </div>
        </div>
      </div>

      <!-- Datos de familiares que ya laboran en la empresa  -->
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="mb-4">
            <a>
              <h3 class="sol-danger">
                Datos de familiares que ya laboran en la empresa
              </h3>
            </a>
          </div>
        </div>
        <div class="col-md-8">
          <hr />
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <!-- <div (click)="openModal()"> -->
            <input-component
              [id]="'searchInputFilter'"
              [type]="'string'"
              [buttonIcon]="'ti-search'"
              buttonFunction="filterStringInTable"
              onChangeFunction="filterStringInTable"
              placeholder="Buscar Empleado"
              [contexto]="this"
              (click)="openModal('dialogBuscarEmpleados')"
            ></input-component>
            <!-- </div> -->
          </div>
        </div>
        <form>
          <div class="row mt-3">
            <table-component
              tableName="tablaDatosFamiliares"
              [columns]="columnsDatosFamiliares"
              [dataTable]="dataTableDatosFamiliares"
            >
            </table-component>
            <!-- <table-component
                [tableName]="mainTableName"
                [columns]="columnsDatosFamiliares"
                [dataTable]="dataToTable"
                [contexto]="this"
                onSaveRowTable="onSaveRowTable"
                [tableWidth]="tableWidth"
                [inputsEditRow]="tableInputsEditRow"
                [totalRows]="totalRowsInTable"
                onChangePagination="onChangePaginationTable"
                onCancelEditRowTable="onCancelEditRowTable"
                [rowsPerPageValue]="rowsPerPageTable"
                [page]="pageNumberTable"
                [isTarea]="isTarea"
                clickOnActionRow="onRowActionClicked"
                [allowCloneButton]="allowCloneButtonOnTable"
                [onRowChange]="onRowChange"
                onChangeEditRowFunction="onChangeEditRowTableFunction"
              ></table-component> -->
          </div>
        </form>
      </div>

      <!-- Aprobadores de la solicitud -->
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="mb-4">
            <a> <h3 class="sol-danger">Aprobadores de la solicitud</h3></a>
          </div>
        </div>
        <div class="col-md-8">
          <hr />
        </div>
      </div>
      <table-component
        tableName="tablaAprobadores"
        [columns]="columnsAprobadores"
        [dataTable]="dataTableAprobadores"
      />

      <!-- <div class="accordion" id="accordionExample">
        <div *ngFor="let nivelItem of dataAprobacionesPorPosicion[keySelected]; let i = index" class="accordion-item">
          <div class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i" style="display: block">
              <div class="row" style="align-items: center; justify-content: space-around">
                <div class="col">{{ nivelItem.nivelAprobacionType.ruta }}</div>

				<div class="col">
                  {{ nivelItem.aprobador.usuario !== "" && nivelItem.aprobador.usuario !== undefined && nivelItem.aprobador.usuario != null ? nivelItem.aprobador.usuario : "No aplica" }}
                </div>

                <div class="col">
                  {{ nivelItem.nivelAprobacionType.nivelAprobacionRuta }}
                </div>
              </div>
            </button>
          </div>

          <div [id]="'collapse' + i" class="accordion-collapse collapse" [ngClass]="{ show: i === 0 }" data-bs-parent="#accordionExample">
            <div class="row">
              <div class="col">
                <div class="input-group">
                  <label for="lvl1descripcion">
                    Descripción de la posición
                  </label>

                  &nbsp;

				  <span id="lvl1descripcion" name="" style="color: black; font-size: 14px;">
				    {{ nivelItem.aprobador.descripcionPosicion !== "" && nivelItem.aprobador.descripcionPosicion !== undefined && nivelItem.aprobador.descripcionPosicion != null ? nivelItem.aprobador.descripcionPosicion : "No aplica" }}
				  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="row mt-4">
        <div class="col-md-4">
          <div class="mb-4">
            <a> <h3 class="sol-danger">Atención de los probadores</h3></a>
          </div>
        </div>
        <div class="col-md-8">
          <hr />
        </div>
      </div> -->

      <!-- <div class="row mt-2">
        <div class="col">
          <div class="input-group mb-3">
            <label
              for="aprobadoresdinamicos"
              style="color: #0056b3; font-size: 14px; "
            >
              Aprobadores dinámicos
            </label>
            &nbsp;
            <span
              id="aprobadoresdinamicos"
              name=""
              style="color: black; font-size: 14px; "
              class="text-start"
              >{{ detalleSolicitud.aprobadoresDinamicos }}</span
            >
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col">
          <div class="input-group mb-3">
            <label
              for="gerenterrhhcorporativo"
              style="color: #0056b3; font-size: 14px; "
            >
              Gerente de RRHH Corporativo
            </label>
            &nbsp;
            <span
              id="gerenterrhhcorporativo"
              name=""
              style="color: black; font-size: 14px; "
              class="text-start"
              >{{ detalleSolicitud.gerenteRRHHCorporativo }}</span
            >
          </div>
        </div>
      </div> -->

      <!-- <div class="row mt-2">
        <div class="col">
          <div class="input-group mb-3">
            <label
              for="comitederemuneraciones"
              style="color: #0056b3; font-size: 14px;"
            >
              Comité de Remuneraciones
            </label>
            &nbsp;
            <span
              id="comitederemuneraciones"
              name=""
              style="color: black; font-size: 14px; "
              class="text-start"
              >{{ detalleSolicitud.comiteRemuneraciones }}</span
            >
          </div>
        </div>
      </div> -->

      <!-- <div class="row mt-4">
        <div class="col-md-4">
          <div class="mb-4">
            <a> <h3 class="sol-danger">Anulación de Solicitud</h3></a>
          </div>
        </div>
        <div class="col-md-8">
          <hr />
        </div>
      </div> -->

      <!-- <div class="row" >
        <div class="col">
          <div class="input-group mb-3 contenedor">
          <label
              class="input-group-text adjustable-label"
              for="anular"
              >¿Anular Solicitud?</label>
            &nbsp; -->
      <!-- aqui  van los check box-->

      <!-- <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Si" [(ngModel)]="selectedOption" (change)="onSelectionChange()">
              <label class="form-check-label" for="inlineRadio1">Si</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="No" [(ngModel)]="selectedOption" (change)="onSelectionChange()">
              <label class="form-check-label" for="inlineRadio2">No</label>
            </div>

          </div>
        </div>
      </div> -->

      <!-- <div class="row">
        <div class="col">
          <div class="input-group mb-3 contenedor">
          <label
              class="input-group-text adjustable-label adjustable-label"
              for="anulacion"
              >Comentarios Anulación de Solicitud
          </label>
          &nbsp;
            <textarea
              id="anulacion"
              name="anulacion"
              [(ngModel)]="model.comentariosAnulacion"
              style="color: black; font-size: 14px"
            ></textarea>
          </div>
        </div>
      </div> -->
    </h2>
  </div>
</form>
