.autocomplete-items {
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.modal-custom {
	width: 100% !important;
	height: 100%px;
	background-color: white;
	display: flex;
}

.suggestion-item {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

.suggestion-item:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}

.form-control {
	width: 300px;
}

.header-accordion {
	background-color: white !important
}

.accordion-button,
.accordion-button.collapsed {
	border: none !important;
	box-shadow: none !important;
}

textarea {
	width: 40%;
	// height: 200px;
	padding: 10px;
	border: 1px solid #e2dfdf;
	box-sizing: border-box;
}

.ngb-typeahead-window .dropdown-item.active {
	background-color: gold;
	/* Cambia el color de fondo a dorado */
}

.dropdown-menu {
	width: 300px;
	/* Ajusta el ancho según tus necesidades */
}


.label-estilo {
	color: #0056B3;
	font-size: 16px;
	width: 45%;
	background-color: white;
	font-weight: 500;
	border-style: none;
}

.label-estilo2 {
	color: #0056B3;
	font-size: 16px;
	width: 22%;
	background-color: white;
	font-weight: 500;
	border-style: none;
	word-wrap: break-word;
	white-space: normal;
	text-align: left;
}


.adjustable-label {
	color: #0056B3;
	font-size: 16px;
	background-color: white;
	font-weight: 500;
	border-style: none;
	width: 20%;
	/* Ajusta al 100% del contenedor padre */
	word-wrap: break-word;
	/* Permite que las palabras se dividan en el borde del contenedor */
	white-space: normal;
	/* Permite que el texto se ajuste y baje a la siguiente línea */
	text-align: left;
}

.sol-danger {
	color: #C69D08;
	font-size: 20px;
	font-weight: 500;
}
