<form (ngSubmit)="onSubmit()" #SolicitudForm="ngForm" #solicitudForm="ngForm">
	<div class="card">
		<h2 class="card-body text-start">
			<div class="header-solicitud">
				<div class="row justify-around">
					<div class="col">
						<div class="mb-3">
							<h3 class="sol-danger">
								<a routerLink="/tareas/consulta-tareas"> <i class="bi bi-arrow-left-circle azul"></i> {{ solicitud.idSolicitud }} </a>
							</h3>
						</div>
					</div>

					<div class="col text-end">
						<button *ngIf="existeMatenedores" type="button" (click)="openModalReasignarUsuario()" class="btn btn-info me-2 mt-1"><i class="fas fa-redo"></i> Reasignar</button>

						<button *ngIf="!existeMatenedores || existe" type="button" (click)="onSubmit()" class="btn btn-info me-2 mt-1" aria-label="Close" [disabled]="justificacionCF === '' || (dataTableDatosFamiliares.length === 0 && faltaParentezco())"><i class="fas fa-save"></i> Guardar</button>

						<button *ngIf="!existeMatenedores || existe" type="button" (click)="onCompletar()" class="btn btn-info me-2 mt-1" [disabled]="justificacionCF === '' || (dataTableDatosFamiliares.length === 0 && faltaParentezco())"><i class="fas fa-check-circle"></i> Enviar Solicitud</button>
					</div>
				</div>

				<div class="row mt-4">
					<div class="col-md-4">
						<div class="input-group mb-3 align-items-center">
							<label class="label-estilo" for="origin">Creado por:</label>

							<span id="origin" name="" style="color: black; font-size: 14px" class="text-start">{{ solicitud.usuarioCreacion }}</span>
						</div>
					</div>

					<div class="col-md-4">
						<div class="input-group mb-3 align-items-center">
							<label class="label-estilo" for="unidadnegocio">Fecha:</label>

							<span id="date" name="" style="color: black; font-size: 14px" class="text-start">{{ solicitud.fechaCreacion | date : "yyyy/MM/dd" }}</span>
						</div>
					</div>

					<div class="col-md-4">
						<div class="input-group mb-3 align-items-center">
							<label class="label-estilo" for="unidadnegocio">Nro. Solicitud:</label>

							<span id="solicitud" name="" style="color: black; font-size: 14px" class="text-start">{{ solicitud.idSolicitud }}</span>
						</div>
					</div>
				</div>

				<hr />
			</div>

			<div class="after-header-solicitud"></div>

			<!-- ! Información de persona a contratar -->
			<app-solicitud-seccion-desplegable titleSummary="Información de persona a contratar" [isOpen]="true">
				<div>
					<div class="row">
						<div class="col-md-12">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo2" for="tipoSolicitud">Nro de Solicitud de Requisicion</label>

								<span #mivar id="tipoSolicitud" name="idTipoSolicitud" style="color: black; font-size: 14px" class="text-start">{{ idSolicitudRP }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo2" for="tipoSolicitud">Justificacion*</label>

								<textarea name="descripcionposicion" [(ngModel)]="justificacionCF" class="flex-fill" style="color: black; font-size: 14px; resize: none" class="form-control" id="descripcionposicion" rows="3" required></textarea>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo2" for="codigoposicion"
									>Nombre del candidato <br />
									seleccionado</label
								>

								<span #mivar id="tipoSolicitud" name="idTipoSolicitud" style="color: black; font-size: 14px" class="text-start">{{ nombreCompletoCandidato }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="input-group mb-3 align-items">
								<label class="input-group-text text-start label-estilo2" for="compania">Compañía</label>

								<span id="compania" name="" style="color: black; font-size: 14px" class="text-start">{{ model.compania }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="unidadnegocio">Unidad de negocio</label>

								<span id="unidadnegocio" name="" style="color: black; font-size: 14px" class="text-start">{{ model.unidadNegocio }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="departamento">Área/Departamento</label>

								<span id="departamento" name="" style="color: black; font-size: 14px" class="text-start">{{ model.departamento }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipocargo">Localidad/Zona</label>

								<span id="cargo" name="" style="color: black; font-size: 14px" class="text-start">{{ model.localidad }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="localidadzona">Cargo</label>

								<span id="localidadzona" name="" style="color: black; font-size: 14px" class="text-start">{{ model.nombreCargo }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="niveldirección">Tipo de contrato</label>

								<span id="niveldirección" name="" style="color: black; font-size: 14px" class="text-start">{{ model.tipoContrato }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="centrocosto">Jefe solicitante</label>

								<span id="centrocosto" name="" style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitud.nombreJefeSolicitante }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="centrocosto">Responsable de RRHH</label>

								<span id="centrocosto" name="" style="color: black; font-size: 14px" class="text-start">{{ solicitud.usuarioCreacion }}</span>
							</div>
						</div>
					</div>
				</div>
			</app-solicitud-seccion-desplegable>

			<!-- <div class="row" *ngIf="mostrarTipoJustificacionYMision">
				<div class="col">
					<div class="input-group mb-3 contenedor">
						<label class="input-group-text adjustable-label" for="justificacion">Justificación</label>

						&nbsp;

						<textarea id="justificacion" name="justificacion" [(ngModel)]="model.justificacionCargo" style="color: black; font-size: 14px" required #justificacion="ngModel"></textarea>
					</div>
				</div>
			</div> -->

			<!-- ! Datos de familiares que ya laboran en la empresa -->
			<app-solicitud-seccion-desplegable titleSummary="Datos de familiares que ya laboran en la empresa" [isOpen]="true">
				<div>
					<div class="mb-3 d-flex justify-content-end">
						<!-- <input-component [id]="'searchInputFilter'" [type]="'string'" [buttonIcon]="'ti-search'" buttonFunction="filterStringInTable" onChangeFunction="filterStringInTable" placeholder="Buscar Empleado" [contexto]="this" (click)="openModal('dialogBuscarEmpleados')"></input-component> -->
						<button type="button" (click)="openModal()" class="btn btn-info me-2 mt-1"><i class="me-1 ti-search"></i> Buscar familiar</button>
					</div>

					<form>
						<table-personalized [columns]="columnsDatosFamiliares" [data]="dataTableDatosFamiliares" [tableWidth]="'100%'" (changeSort)="handleChangeSort($event)" (saveRowData)="handleSaveRowData($event)" (actionClick)="handleActionClick($event)"></table-personalized>
					</form>
				</div>
			</app-solicitud-seccion-desplegable>

			<!-- ! Aprobadores de la solicitud -->
			<app-solicitud-seccion-desplegable titleSummary="Aprobadores de la solicitud">
				<div>
					<div class="accordion" id="accordionExample">
						<div *ngFor="let nivelItem of dataAprobacionesPorPosicion[keySelected]; let i = index" class="accordion-item">
							<div class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i" style="display: block">
									<div class="row" style="align-items: center; justify-content: space-around">
										<div class="col">
											{{ nivelItem.nivelAprobacionType.ruta }}
										</div>

										<div class="col">
											{{ nivelItem.aprobador.usuario !== "" && nivelItem.aprobador.usuario !== undefined && nivelItem.aprobador.usuario != null ? nivelItem.aprobador.codigoPosicion + "-" + nivelItem.aprobador.usuario : "No aplica" }}
										</div>

										<div class="col">
											{{
												nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("REGISTRARSOLICITUD")
													? "Registrar Solicitud"
													: nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("CANDIDATO")
														? "Selección de Candidato"
														: nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("COMENTARIOJEFE")
															? "Registrar Comentario Jefe Anterior o Referencia"
															: nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("COMENTARIORRHH")
																? "Registrar Comentario RR.HH."
																: nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("COMENTARIOSOLICITANTE")
																	? "Registrar Comentario Jefe Solicitante"
																	: nivelItem.nivelAprobacionType.nivelAprobacionRuta
											}}
										</div>
									</div>
								</button>
							</div>

							<div [id]="'collapse' + i" class="accordion-collapse collapse" [ngClass]="{ show: i === 0 }" data-bs-parent="#accordionExample">
								<div class="row">
									<div class="col">
										<div class="input-group">
											<label for="lvl1descripcion">Descripción de la posición</label>

											&nbsp;

											<span id="lvl1descripcion" name="" style="color: black; font-size: 14px">{{ nivelItem.aprobador.descripcionPosicion !== "" && nivelItem.aprobador.descripcionPosicion !== undefined && nivelItem.aprobador.descripcionPosicion != null ? nivelItem.aprobador.descripcionPosicion : "No aplica" }}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</app-solicitud-seccion-desplegable>
		</h2>
	</div>
</form>
