<div class="p-2 buscar-aprobador-fijo-modal">
	<form class="input-group my-2" [formGroup]="myForm" (ngSubmit)="onSubmit()">
		<input type="text" class="form-control" formControlName="searchInput" placeholder="Ingrese código de posición, subledger, nombre o correo del empleado" />

		<button type="submit" class="btn btn-info" [disabled]="myForm.invalid">Buscar</button>
	</form>

	<hr />

	<div class="table-container my-2 p-1 pt-0">
		<table *ngIf="empleados.length !== 0; else emptyEmpleados">
			<thead>
				<tr>
					<th></th>

					<th>Código de Posición</th>

					<th>Posición</th>

					<th>Nombre</th>

					<th>Subledger</th>

					<th>Compañía</th>

					<th>Cargo</th>

					<th>Unidad de Negocio</th>

					<th>Área/Departamento</th>

					<th>Localidad/Zona</th>

					<th>Centro de Costo</th>

					<th>Fecha de Ingreso</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let empleado of empleados" class="cursor-pointer empleado-fila" [ngClass]="{ selected: empleadoSeleccionado === empleado }" (click)="seleccionarUsuario(empleado)">
					<td>
						<input class="form-check-input" type="radio" [value]="empleado" [checked]="empleadoSeleccionado === empleado" (change)="$event.stopPropagation(); seleccionarUsuario(empleado)" />
					</td>

					<td>{{ empleado.codigoPosicion }}</td>

					<td>{{ empleado.descrPosicion }}</td>

					<td>{{ empleado.nombreCompleto }}</td>

					<td>{{ empleado.subledger }}</td>

					<td>{{ empleado.compania }}</td>

					<td>{{ empleado.nombreCargo }}</td>

					<td>{{ empleado.unidadNegocio }}</td>

					<td>{{ empleado.departamento }}</td>

					<td>{{ empleado.localidad }}</td>

					<td>{{ empleado.nombreCargo }}</td>

					<td>{{ empleado.fechaIngresogrupo }}</td>
				</tr>
			</tbody>
		</table>

		<ng-template #emptyEmpleados>
			<div class="empty-empleados">
				<p>Realice una búsqueda</p>
			</div>
		</ng-template>
	</div>

	<hr />

	<div class="my-2 d-flex justify-content-end align-items-center gap-2">
		<button class="btn btn-outline-primary" type="button" (click)="onClose()">Cerrar</button>

		<button class="btn btn-primary" type="button" [disabled]="empleadoSeleccionado === null" (click)="onSeleccionar()">Confirmar</button>
	</div>
</div>
