<div class="row">
  <!-- column -->
  <div class="col-lg-12">

    <div class="card">
      <div class="card-body">
        <form action="#">
          <div class="form-body">
            <div class="row">
              <div class="col-md-3">
                <div class="mb-3">
                  <label class="azul">Hacienda</label>
                  <ng-select [(ngModel)]="selected_hacienda" name="id_hacienda" placeholder="Seleccione">
                    <ng-option *ngFor="let car of data_haciendas" [value]="car.id">{{car.id}} - {{car.name}}</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mb-3">
                  <label class="azul">Producto</label>
                  <ng-select [(ngModel)]="selected_producto" name="id_producto" placeholder="Seleccione">
                    <ng-option *ngFor="let car of data_productos" [value]="car.id">{{car.id}} - {{car.name}}</ng-option>
                  </ng-select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="mb-3">
                  <label class="azul">Fecha</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                      [footerTemplate]="footerTemplate" #d="ngbDatepicker" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button">
                      <i-feather class="feather-sm" name="calendar"></i-feather>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="mb-3">
                  <label class="azul">Tipo de Labor</label>
                  <ng-select [(ngModel)]="selected_tipo_labor" name="id_tipo_labor" placeholder="Seleccione">
                    <ng-option *ngFor="let car of data_tipo_labor" [value]="car.id">{{car.id}} -
                      {{car.name}}</ng-option>
                  </ng-select>
                </div>
              </div>

              <div class="col-md-3">
                <div class="mb-3">
                  <label class="azul">Trabajador</label>
                  <ng-select [(ngModel)]="selected_trabajador" name="id_trabajador" placeholder="Seleccione">
                    <ng-option *ngFor="let car of data_trabajador" [value]="car.id">{{car.id}} -
                      {{car.name}}</ng-option>
                  </ng-select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="mb-3">
                  <div class="text-end">
                    <button type="submit" class="btn btn-info me-2"><i class="fas fa-filter"></i> Buscar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <ng-template #footerTemplate>
          <hr class="my-0" />
          <button class="btn btn-primary btn-sm m-2 float-start" (click)="model = today; d.close()">
            Today
          </button>
          <button class="btn btn-secondary btn-sm m-2 float-end" (click)="d.close()">
            Close
          </button>
        </ng-template>

        <form>
          <div class="row">
            <div class="col-md-4">
              <div class="input-group mb-3">
                <input type='text' class="form-control" placeholder='Buscar' aria-label=""
                  aria-describedby="basic-addon1" (keyup)='updateFilter($event)' />
                <button class="btn mr-0  btn-outline-secondary" type="button">
                  <i class="ti-search"></i>
                </button>
              </div>
            </div>
            <div class="col-md-8">
              <div class="mb-3">
                <div class="text-end">
                  <button type="button" (click)="PageCrear()" class="btn btn-info me-2"><i class="fas fa-plus"></i>
                    Agregar</button>
                  <button type="submit" class="btn btn-outline-info me-2"><i class="fas fa-file-excel"></i>
                    Exportar</button>
                </div>
              </div>
            </div>
          </div>

        </form>


        <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="10" [columnMode]="'force'"
          [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
          <ngx-datatable-column name="Name">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-name'] = true"
                *ngIf="!editing[rowIndex + '-name']">
                {{value}}
              </span>
              <input autofocus (blur)="updateValue($event, 'name', rowIndex)" *ngIf="editing[rowIndex+ '-name']"
                type="text" [value]="value" />
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Gender">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
              <span title="Double click to edit" (dblclick)="editing[rowIndex + '-gender'] = true"
                *ngIf="!editing[rowIndex + '-gender']">
                {{value}}
              </span>
              <select *ngIf="editing[rowIndex + '-gender']" (change)="updateValue($event, 'gender', rowIndex)"
                [value]="value">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Age">
            <ng-template ngx-datatable-cell-template let-value="value">
              {{value}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Accion">
            <ng-template ngx-datatable-cell-template let-value="value">
              <button type="button" (click)="PageCrear()" class="btn btn-outline-info azul me-2" title="Editar"><i class="fas fa-edit"></i></button>
              <button type="button" (click)="PageCrear()" class="btn btn-outline-info azul me-2" title="Duplicar"><i class="fas fa-copy"></i></button>
              <button type="button" (click)="PageCrear()" class="btn btn-outline-info azul me-2" title="Información"><i
                  class="fas fa-info-circle"></i></button>
              <button type="button" (click)="Eliminar()" class="btn btn-outline-info azul me-2" title="Eliminar"><i
                  class="f fas fa-trash"></i></button>

            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>