<div class="modal-custom">
  <div class="">
    <div class="p-2 mt-2">
      <h4 class="mx-2 sol-danger">Reasignar Usuario</h4>
      <hr class="my-0" />
    </div>
    <div class="px-4">
      <div class="row">
        <div class="input-group my-3">
          <label class="label-estilo" for="search" style="font-size: 14px; width: 100%">Buscar</label>

          <input type="text" [(ngModel)]="search" class="form-control" id="search" placeholder="Ingrese nombre o Apellido" style="color: black" [ngbTypeahead]="searchNombreCompleto" (selectItem)="onSelectItem('nombreCompleto', $event)"/>

		  <button class="btn btn-light" type="button" (click)="getDataEmpleadosEvolution('nombreEmpleado')">
            <i class="ti-search"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 my-3">
          <label
            class="label-estilo"
            for="fields.nombreCompleto"
            style="font-size: 14px; width: 100%"
            >Nombre Empleado a Reasignar</label
          >
          <input
            readonly
            id="nombreCompleto"
            [(ngModel)]="this.modelo.nombreCompleto"
            type="text"
            class="form-control mb-3"
            style="width: 100%; color: black"
          />
        </div>
        <div class="col-md-6 my-3">
          <label
            class="label-estilo"
            for="fields.compania"
            style="font-size: 14px; width: 100%"
            >Empresa</label
          >
          <input
            readonly
            id="compania"
            [(ngModel)]="this.modelo.compania"
            type="text"
            class="form-control mb-3"
            style="width: 100%; color: black"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 my-3">
          <label
            class="label-estilo"
            for="fields.codigo"
            style="font-size: 14px; width: 100%"
            >Codigo Empleado a Reasignar</label
          >
          <input
            readonly
            id="codigo"
            [(ngModel)]="this.modelo.codigo"
            type="text"
            class="form-control mb-3"
            style="width: 100%; color: black"
          />
        </div>
        <div class="col-md-6 my-3">
          <label
            class="label-estilo"
            for="fields.unidadNegocio"
            style="font-size: 14px; width: 100%"
            >Unidad de Negocio</label
          >
          <input
            readonly
            id="unidadNegocio"
            [(ngModel)]="this.modelo.unidadNegocio"
            type="text"
            class="form-control mb-3"
            style="width: 100%; color: black"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 my-3">
          <label
            class="label-estilo"
            for="fields.comentarios"
            style="font-size: 14px; width: 100%"
            >Comentarios</label
          >
          <textarea
            name="comentarios"
            style="color: black; font-size: 14px; width: 100%; resize: none"
            class="form-control"
            id="comentarios"
            rows="3"
            required
          ></textarea>
        </div>
        <div class="col-md-6 my-3">
          <label
            class="label-estilo"
            for="fields.usuario"
            style="font-size: 14px; width: 100%"
            >Usuario</label
          >
          <input
            readonly
            id="usuario"
            [(ngModel)]="fields.usuario"
            type="text"
            class="form-control mb-3"
            style="width: 100%; color: black"
          />
        </div>
      </div>
    </div>
    <div class="p-4">
      <button
        type="button"
        class="btn btn-primary"
        (click)="onSave()"
      >
        Grabar
      </button>
      <button
        type="button"
        class="mx-3 btn btn-outline-secondary"
        (click)="onClose()"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>
