$border-table-radius: 10px;
$font-size: 14px;
$font-style: normal;
$line-height: normal;
$cell-padding: 6px 12px;

.autocomplete-items {
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.suggestion-item {
	padding: 10px;
	cursor: pointer;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
}

.suggestion-item:hover {
	/*when hovering an item:*/
	background-color: #e9e9e9;
}

.form-control {
	width: 300px;
}

.form-control-wider {
	//@extend .form-control;
	width: 400px;
}

.header-accordion {
	background-color: white !important
}

.accordion-button,
.accordion-button.collapsed {
	border: none !important;
	box-shadow: none !important;
}

textarea {
	width: 40%;
	// height: 200px;
	padding: 10px;
	border: 1px solid #e2dfdf;
	box-sizing: border-box;
}

.ngb-typeahead-window .dropdown-item.active {
	background-color: gold;
	/* Cambia el color de fondo a dorado */
}

.dropdown-menu {
	width: 300px;
	/* Ajusta el ancho según tus necesidades */
}

.checkbox-container {
	display: flex;
	align-items: center;
}

.checkbox-container .form-check-label:first-of-type {
	margin-right: 60px;
}

.checkbox-container .form-check-label:last-of-type {
	margin-left: 10px;
}

.label-estilo {
	color: #0056B3;
	font-size: 16px;
	width: 45%;
	background-color: white;
	font-weight: 500;
	border-style: none;
	padding-left: 0;
}

.label-estilo2 {
	color: #0056B3;
	font-size: 16px;
	width: 22%;
	background-color: white;
	font-weight: 500;
	border-style: none;
	word-wrap: break-word;
	white-space: normal;
	text-align: left;
}

.adjustable-label {
	color: #0056B3;
	font-size: 16px;
	background-color: white;
	font-weight: 500;
	border-style: none;
	//width: 45%;         /* Ajusta al 100% del contenedor padre */
	word-wrap: break-word;
	/* Permite que las palabras se dividan en el borde del contenedor */
	white-space: normal;
	/* Permite que el texto se ajuste y baje a la siguiente línea */
	text-align: left;
}

.hidden-label {
	visibility: hidden;
}

.row {
	display: flex;
	flex-wrap: nowrap;
}

.align-items-center {
	align-items: center;
}

.adjustable-label2 {
	color: #0056B3;
	background-color: white;
	font-size: 16px;
	white-space: normal;
	word-wrap: break-word;
	font-weight: 500;
	border-style: none;
	text-align: left;
	width: 18%;
	// display: block;
	// min-width: 10px; /* Ajusta este valor según sea necesario */

}

/* Define un tamaño estándar para los botones */
.button-custom {
	padding: 8px 16px;
	/* Ajusta el padding superior/inferior y derecho/izquierdo */
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45px;
	/* Ajusta la altura de los botones */
	min-width: 120px;
	/* Ajusta el ancho mínimo de los botones */
	font-size: 0.875rem;
	/* Tamaño de la fuente del texto */
}

/* Aumenta el tamaño del icono */
.icon-size {
	font-size: 1.45rem;
	/* Ajusta el tamaño del icono */
}

/* Asegura que el icono y el texto estén alineados correctamente */
.button-custom i {
	margin-right: 8px;
	/* Ajusta el margen entre el icono y el texto */
}

.sol-danger {
	color: #C69D08;
	font-size: 23px;
	font-weight: 500;
}

.table-container {
	border-radius: $border-table-radius;
	width: 100%;
	max-height: 500px;
	height: 300px;
	overflow-x: auto;
	overflow-y: auto;

	&:has(.empty-empleados) {
		overflow: hidden;
	}
}

table {
	width: 100%;
	box-shadow: 0px 4px 4px 0px #00000040;
	border-radius: $border-table-radius;
	// overflow: hidden;
}

th {
	// background-color: #0056b34d;
	background-color: #b2cce8;
	/* Letra */
	color: #0056b3;
	font-size: $font-size;
	font-style: $font-style;
	font-weight: 600;
	line-height: $line-height;
	/* estilos de celda */
	height: 44px;
	padding: $cell-padding;
	min-width: 200px;
	max-width: 300px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;
}

td {
	font-size: $font-size;
	font-style: $font-style;
	font-weight: 500;
	line-height: $line-height;
	height: 64px;
	padding: $cell-padding;
	border-bottom: 0.5px solid #506385;
	// background-color: #fff;
	color: #182844;
	min-width: 200px;
	max-width: 300px;
}

th:first-child {
	border-top-left-radius: $border-table-radius;
	width: 40px;
	min-width: 40px;
	max-width: 40px;
}

td:first-child {
	text-align: center;
	width: 40px;
	min-width: 40px;
	max-width: 40px;
}

th:last-child {
	border-top-right-radius: $border-table-radius;
}

tr:last-child td:first-child {
	border-bottom-left-radius: 5px;
}

tr:last-child td:last-child {
	border-bottom-right-radius: 5px;
}

tr:last-child td {
	border-bottom: none;
}

th div::selection {
	background-color: transparent;
}

.empty-empleados {
	border-radius: $border-table-radius;
	border: 1px solid gray;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.empleado-fila {
	transition: background-color 0.3s;

	&:hover {
		background-color: lighten(gray, 35%);
		// background-color: red;
	}

	&.selected {
		background-color: lighten(gray, 35%);
	}
}
