@import "../../../assets/scss/variable";

// .btn-profile-name {
// 	// color: #182844 !important;
// 	color: white !important;
// }

.dropdown-item-component:hover {
  background-color: $blue;
  color: white !important;
}

.dropdown-toggle::after {
  display: none;
}
