<plantilla-b-component
  [dataFilterNivelesAprobacion]="dataFilterNivelesAprobacion"
  [dataTipoMotivo]="dataTipoMotivo"
  [dataTipoSolicitudes]="dataTipoSolicitudes"
  [dataNivelDireccion]="dataNivelDireccion"
  *ngIf="hasFiltered"
  [columnsTable]="columnsTable"
  [originalDataTable]="dataTable"
  [placeholderHeaderInputText]="'Buscar niveles de aprobacion...'"
  [contexto]="this"
  keyNameTable="id"
  clickOnActionRow="onRowActionClicked"
  clickOnFilter="filterDataTable"
  clickOnPageCrear="pageCrear"
  [IdRowToClone]="IdRowToClone"
  colIdToDisable="id"
  titleReport="NIVELES DE APROBACION"
  [codigoReport]="codigoReporte"
  [showFilterTipoSolicitud]="this.controlsPermissions[pageControlPermission.FiltroTipoSolicitud].visualizar"
  [disabledFilterTipoSolicitud]="!this.controlsPermissions[pageControlPermission.FiltroTipoSolicitud].habilitar"
  [showFilterTipoMotivo]="this.controlsPermissions[pageControlPermission.FiltroTipoMotivo].visualizar"
  [disabledFilterTipoMotivo]="!this.controlsPermissions[pageControlPermission.FiltroTipoMotivo].habilitar"
  [showFilterNivelDireccion]="this.controlsPermissions[pageControlPermission.FiltroNivelDireccion].visualizar"
  [disabledFilterNivelDireccion]="!this.controlsPermissions[pageControlPermission.FiltroNivelDireccion].habilitar"
  [showButtonBuscar]="this.controlsPermissions[pageControlPermission.ButtonBuscar].visualizar"
  [showCreateButton]="this.controlsPermissions[pageControlPermission.ButtonAgregar].visualizar"
  [showButtonExportar]="this.controlsPermissions[pageControlPermission.ButtonExportar].visualizar"
  [showButtonEditar]="this.controlsPermissions[pageControlPermission.ButtonEditar].visualizar"
  [showButtonDuplicar]="this.controlsPermissions[pageControlPermission.ButtonDuplicar].visualizar"
>
</plantilla-b-component>
