<div class="p-3">
	<div class="row mb-3">
		<div class="col-md-3 mb-3">
			<label class="azul mb-1">Nivel de Dirección <span class="obligatorio">(Obligatorio)</span></label>

			<ng-select [(ngModel)]="dataFilterNivelesAprobacion.nivelDireccion" placeholder="Seleccione">
				<ng-option *ngFor="let nivelDireccion of dataNivelDireccion" [value]="nivelDireccion">{{ nivelDireccion }}</ng-option>
			</ng-select>
		</div>

		<div class="col-md-3 mb-3">
			<label class="azul mb-1">Tipo de Solicitud</label>

			<ng-select [(ngModel)]="dataFilterNivelesAprobacion.tipoSolicitud" (change)="onChangeTipoSolicitud()" placeholder="Seleccione">
				<ng-option *ngFor="let tipoSolicitud of dataTipoSolicitudes" [value]="tipoSolicitud.id">{{ tipoSolicitud.id }} - {{ tipoSolicitud.descripcion }}</ng-option>
			</ng-select>
		</div>

		<div class="col-md-3 mb-3">
			<label class="azul mb-1">Tipo Motivo</label>

			<ng-select [(ngModel)]="dataFilterNivelesAprobacion.tipoMotivo" placeholder="Seleccione" [disabled]="tipoMotivoDeshablitado">
				<ng-option *ngFor="let tipoMotivo of dataTipoMotivo" [value]="tipoMotivo.id">{{ tipoMotivo.id }} - {{ tipoMotivo.descripcion }}</ng-option>
			</ng-select>
		</div>

		<div class="col-md-3 mb-3">
			<label class="azul mb-1">Tipo de Ruta</label>

			<ng-select [(ngModel)]="dataFilterNivelesAprobacion.tipoRuta" placeholder="Seleccione">
				<ng-option *ngFor="let tipoRuta of dataTipoRuta" [value]="tipoRuta.id">{{ tipoRuta.descripcion }}</ng-option>
			</ng-select>
		</div>

		<div class="col-md-3 mb-3">
			<label class="azul mb-1">Acción</label>

			<ng-select [(ngModel)]="dataFilterNivelesAprobacion.accion" placeholder="Seleccione">
				<ng-option *ngFor="let accion of dataAccion" [value]="accion.id">{{ accion.descripcion }}</ng-option>
			</ng-select>
		</div>

		<div *ngIf="this.controlsPermissions[pageControlPermission.ButtonBuscar].visualizar" class="col-md-3 ms-auto align-self-center">
			<div class="text-end">
				<button (click)="getDataToTableFilter()" type="button" class="btn btn-info"><i class="fas fa-filter"></i> Buscar</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3 offset-md-9">
			<form>
				<div class="mb-3">
					<div class="text-end">
						<button *ngIf="this.controlsPermissions[pageControlPermission.ButtonAgregar].visualizar" type="button" (click)="pageCrear()" class="btn btn-info me-3"><i class="fas fa-plus"></i> Agregar</button>

						<dropdown-component [options]="dropdownOptionsExport" textButton="Exportar" [buttonClasses]="['btn-outline-info']" [iconButton]="'fas fa-file-pdf'" [contexto]="this" onDropDownClickFunction="isAnyRowCheckedInTable"></dropdown-component>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="mt-3" [ngClass]="{ 'no-table': dataTable.length === 0, 'with-table': dataTable.length !== 0 }">
		<table *ngIf="dataTable.length !== 0; else noTable">
			<thead>
				<tr>
					<th *ngFor="let columnName of columnsTable; let i = index" class="text-center" [ngClass]="{ 'fixed-col-start': i === 0 }">{{ columnName.title }}</th>

					<th *ngFor="let ruta of dataRuta" class="text-center">{{ ruta.descripcion }}</th>

					<th class="text-center fixed-col-end action">Acciones</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let nivel of finalData; let i = index">
					<td class="fixed-col-start">{{ nivel.tipoSolicitud }}</td>

					<td>{{ nivel.tipoRuta }}</td>

					<td>{{ nivel.tipoMotivo }}</td>

					<td>{{ nivel.accion }}</td>

					<td>{{ nivel.nivelDireccion }}</td>

					<td *ngFor="let ruta of nivel.rutas">{{ ruta.nivelAprobacion }}</td>

					<td class="text-center fixed-col-end action">
						<i tabindex="0" class="material-icons text-info cursor-pointer action-icon" (click)="onRowActionClicked(i)">edit</i>
					</td>
				</tr>
			</tbody>
		</table>

		<ng-template #noTable>
			<div class="d-flex h-100 justify-content-center align-items-center">
				<p>Sin datos que mostrar, relice un filtro de búsqueda</p>
			</div>
		</ng-template>
	</div>
</div>
