<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-md-6 m-b-15 text-center">
                        <small>Total Visits</small>
                        <h2>
                            <i class="ti-arrow-up text-success"></i> 1064</h2>
                        <div class="my-0 mx-auto" style="height: 55px; width: 100px;">
                            <apx-chart [series]="visitstatisticschartOptions.series" [chart]="visitstatisticschartOptions.chart"
                                [dataLabels]="visitstatisticschartOptions.dataLabels" [colors]="visitstatisticschartOptions.colors"
                                [plotOptions]="visitstatisticschartOptions.plotOptions" [yaxis]="visitstatisticschartOptions.yaxis"
                                [legend]="visitstatisticschartOptions.legend" [fill]="visitstatisticschartOptions.fill"
                                [tooltip]="visitstatisticschartOptions.tooltip"
                                [xaxis]="visitstatisticschartOptions.xaxis" [grid]="visitstatisticschartOptions.grid"
                                [yaxis]="visitstatisticschartOptions.yaxis">
                            </apx-chart>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-15 text-center">
                        <small>Total Page Views</small>
                        <h2>
                            <i class="ti-arrow-up text-primary"></i> 5064</h2>
                        <div class="my-0 mx-auto" style="height: 55px; width: 100px;">
                            <apx-chart [series]="totalpageviewschartOptions.series" [chart]="totalpageviewschartOptions.chart"
                                [dataLabels]="totalpageviewschartOptions.dataLabels" [colors]="totalpageviewschartOptions.colors"
                                [plotOptions]="totalpageviewschartOptions.plotOptions" [yaxis]="totalpageviewschartOptions.yaxis"
                                [legend]="totalpageviewschartOptions.legend" [fill]="totalpageviewschartOptions.fill"
                                [tooltip]="totalpageviewschartOptions.tooltip"
                                [xaxis]="totalpageviewschartOptions.xaxis" [grid]="totalpageviewschartOptions.grid"
                                [yaxis]="totalpageviewschartOptions.yaxis">
                            </apx-chart>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-15 text-center">
                        <small>Unique Visitor</small>
                        <h2>
                            <i class="ti-arrow-up text-info"></i> 664</h2>
                        <div class="my-0 mx-auto" style="height: 55px; width: 100px;">
                            <apx-chart [series]="uniquevisitorchartOptions.series" [chart]="uniquevisitorchartOptions.chart"
                                [dataLabels]="uniquevisitorchartOptions.dataLabels" [colors]="uniquevisitorchartOptions.colors"
                                [plotOptions]="uniquevisitorchartOptions.plotOptions" [yaxis]="uniquevisitorchartOptions.yaxis"
                                [legend]="uniquevisitorchartOptions.legend" [fill]="uniquevisitorchartOptions.fill"
                                [tooltip]="uniquevisitorchartOptions.tooltip"
                                [xaxis]="uniquevisitorchartOptions.xaxis" [grid]="uniquevisitorchartOptions.grid"
                                [yaxis]="uniquevisitorchartOptions.yaxis">
                            </apx-chart>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 m-b-15 text-center">
                        <small>Bounce Rate</small>
                        <h2>
                            <i class="ti-arrow-down text-danger"></i> 50%</h2>
                        <div class="my-0 mx-auto" style="height: 55px; width: 100px;">
                            <apx-chart [series]="bounceratechartOptions.series" [chart]="bounceratechartOptions.chart"
                                [dataLabels]="bounceratechartOptions.dataLabels" [colors]="bounceratechartOptions.colors"
                                [plotOptions]="bounceratechartOptions.plotOptions" [yaxis]="bounceratechartOptions.yaxis"
                                [legend]="bounceratechartOptions.legend" [fill]="bounceratechartOptions.fill"
                                [tooltip]="bounceratechartOptions.tooltip"
                                [xaxis]="bounceratechartOptions.xaxis" [grid]="bounceratechartOptions.grid"
                                [yaxis]="bounceratechartOptions.yaxis">
                            </apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>