@use "/src/assets/scss/variable" as var;

.data-container {
	background-color: transparent;
	border: none;
}

.ngx-datatable.scroll-vertical{height:70vh;}
.close {
  font-size: 1.4rem;
  opacity: 0.1;
  transition: opacity 0.3s;
}
.nav-link:hover > .close {
  opacity: 0.8;
}
.btn-amarillo {
  background-color: #E9CC4C;
  color: black;
}

.vertical-absolute {
  position: relative;

  height: 100px;
  width: 200px;

  background: #ffff99;
  color: #333;
}

.vertical-absolute__content {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;

  height: 50px;
  width: 100px;
}

label.input-group-text {
	width: 25%;
	color : var.$blue;
	font-size: 16px;
	font-weight: semibold;
}

.content,
.content > div.card {
	background-color: var.$white;
}

.nav-pills {
	border-bottom: 1px solid var.$blue;

	li {
		& > button {
			border: 1px solid var.$blue;
			border-bottom: none;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			width: 200px;
			font-size: 15px;
		}

		&:not(:first-child):not(:last-child) > button {
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}

		&:first-child > button {
			border-top-right-radius: 0;
		}

		&:last-child > button {
			border-top-left-radius: 0;
		}
	}
}
