.ngx-datatable.scroll-vertical{height:70vh;}
.close {
  font-size: 1.4rem;
  opacity: 0.1;
  transition: opacity 0.3s;
}
.nav-link:hover > .close {
  opacity: 0.8;
}
.btn-amarillo {
  background-color: #E9CC4C;
  color: black;
}

.vertical-absolute {
  position: relative;

  height: 100px;
  width: 200px;

  background: #ffff99;
  color: #333;
}

.vertical-absolute__content {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;

  height: 50px;
  width: 100px;
}
