<form (ngSubmit)="onSubmit()" #SolicitudForm="ngForm">
  <div class="card">
    <h2 class="card-body text-start">
      <div class="row">
        <!--<div class="col-md-8">
              <b style="color: rgb(227, 199, 22);font-size: 20px; margin: 20px;">Mantenimiento de rutas</b>
          </div>-->
        <div class="col-md-8">
          <div class="mb-3">
            <a>
              <h3 class="danger">
                <i class="bi bi-arrow-left-circle azul"></i> Bandeja de
                solicitudes
              </h3></a
            >
          </div>
        </div>

        <div class="col-md-4 text-end">
          <!--<button style="margin: 10px;color: black;" type="button" (click)="modal.dismiss('Cross click')"
                  class="mr-10 fz-14 btn btn-outline-secondary btn-icon-end">Cancelar
              </button>-->
          <button type="button" class="btn btn-info me-2">
            <i class="fas fa-redo"></i> Reasignar
          </button>
          <button type="button" class="btn btn-info me-2">
            <i class="fas fa-times"></i> Anular
          </button>
          <!-- <button
            (click)="guardarSolicitud()"
            type="button"
            class="mr-10 fz-14 btn btn-info btn-icon-end"
            aria-label="Close"
            aria-label="Close"
          >
            <i class="fas fa-save"></i> Guardar
          </button> -->
          <button
            type="submit"
            class="mr-10 fz-14 btn btn-info btn-icon-end"
            aria-label="Close"
            aria-label="Close"
          >
            <i class="fas fa-save"></i> Guardar
          </button>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-3">
          <div class="mb-4">
            <a> <h3 class="danger">Información general</h3></a>
          </div>
        </div>
        <div class="col-md-9">
          <hr />
        </div>
      </div>

      <!-- Row 1 -->
      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="tipoSolicitud"
              style="color: black; font-size: 14px; width: 45%"
              >Tipo de solicitud</label
            >
            &nbsp;
            <span
              #mivar
              id="tipoSolicitud"
              name="idTipoSolicitud"
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.infoGeneral.tipoSolicitud }}</span
            >
            <!-- {{ mivar.textContent }} -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="tipomotivo"
              style="color: black; font-size: 14px; width: 45%"
              >Tipo de motivo</label
            >
            &nbsp;
            <span
              id="tipomotivo"
              name="tipomotivo"
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.infoGeneral.tipoMotivo }}</span
            >
          </div>
        </div>
      </div>

      <!-- Row 2 -->
      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="codigoposicion"
              style="color: black; font-size: 14px; width: 45%"
              >Código de posición</label
            >
            &nbsp;
            <input
              type="text"
              name="codigoposicion"
              [(ngModel)]="solicitud.infoGeneral.codigoPosicion"
              class="form-control"
              id="codigoposicion"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="nombreempleado"
              style="color: black; font-size: 14px; width: 45%"
              >Nombre de empleado</label
            >
            <select
              id="nombreempleado"
              name="nombreempleado"
              class="form-select"
              style="font-size: 14px"
              required
            >
              <option [value]="solicitud.infoGeneral.nombreEmpleado">
                {{ solicitud.infoGeneral.nombreEmpleado }}
              </option>
              <option>Felipe Andrade</option>
              <option>Ramiro Andrade</option>
            </select>
          </div>
        </div>
      </div>

      <!-- Row 3 -->
      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="subledger"
              style="color: black; font-size: 14px; width: 45%"
              >Subledger</label
            >
            <select
              id="subledger"
              name="subledger"
              class="form-select"
              [(ngModel)]="solicitud.infoGeneral.subledger"
              style="font-size: 14px"
              required
            >
              <option [value]="solicitud.infoGeneral.subledger">
                {{ solicitud.infoGeneral.subledger }}
              </option>
              <option>6007580</option>
              <option>6007581</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="descripcionposicion"
              style="color: black; font-size: 14px; width: 45%"
              >Descripción de posición</label
            >
            &nbsp;
            <span
              id="descripcionposicion"
              name="descripcionposicion"
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.infoGeneral.descripcionPosicion }}</span
            >
          </div>
        </div>
      </div>

      <!-- Row 4 -->
      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="compania"
              style="color: black; font-size: 14px; width: 45%"
              >Compañía</label
            >
            <span
              id="compania"
              name=""
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.infoGeneral.empresa }}</span
            >
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="unidadnegocio"
              style="color: black; font-size: 14px; width: 45%"
              >Unidad de negocio</label
            >
            <span
              id="unidadnegocio"
              name=""
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.infoGeneral.unidadNegocio }}</span
            >
          </div>
        </div>
      </div>

      <!-- Row 5 -->
      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="areadepartamento"
              style="color: black; font-size: 14px; width: 45%"
              >Área/departamento</label
            >
            <span
              id="areadepartamento"
              name=""
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.infoGeneral.areaDepartamento }}</span
            >
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="tipocargo"
              style="color: black; font-size: 14px; width: 45%"
              >Tipo de cargo</label
            >
            <span
              id="tipocargo"
              name=""
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.infoGeneral.tipoCargo }}</span
            >
          </div>
        </div>
      </div>

      <!-- Row 6 -->
      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="localidadzona"
              style="color: black; font-size: 14px; width: 45%"
              >Localidad zona</label
            >
            <span
              id="localidadzona"
              name=""
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.infoGeneral.localidadZona }}</span
            >
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="niveldirección"
              style="color: black; font-size: 14px; width: 45%"
              >Nivel de dirección</label
            >
            <span
              id="niveldirección"
              name=""
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.infoGeneral.nivelDireccion }}</span
            >
          </div>
        </div>
      </div>

      <!-- Row 7 -->
      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="centrocosto"
              style="color: black; font-size: 14px; width: 45%"
              >Centro de costo</label
            >
            <span
              id="centrocosto"
              name=""
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.infoGeneral.centroCosto }}</span
            >
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
          <div class="mb-4">
            <a> <h3 class="danger">Funciones y responsabilidades</h3></a>
          </div>
        </div>
        <div class="col-md-8">
          <hr />
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="reporta"
              style="color: black; font-size: 14px; width: 45%"
              >Reporta a</label
            >
            &nbsp;
            <span
              id="reporta"
              name=""
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.funcionesResponsabilidades.reportaA }}
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="supervisaa"
              style="color: black; font-size: 14px; width: 45%"
              >Supervisa a</label
            >
            &nbsp;
            <span
              id="supervisaa"
              name=""
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.funcionesResponsabilidades.supervisaA }}</span
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="tipocontrato"
              style="color: black; font-size: 14px; width: 45%"
              >Tipo de contrato</label
            >
            &nbsp;
            <select
              id="tipocontrato"
              name="tipocontrato"
              class="form-select"
              [(ngModel)]="solicitud.funcionesResponsabilidades.tipoContrato"
              style="font-size: 14px"
              required
            >
              <option
                [value]="solicitud.funcionesResponsabilidades.tipoContrato"
              >
                {{ solicitud.funcionesResponsabilidades.tipoContrato }}
              </option>
              <option>Temporal</option>
              <option>Mixto</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="nivelreporte"
              style="color: black; font-size: 14px; width: 45%"
              >Nivel de reporte</label
            >
            &nbsp;
            <span
              id="nivelreporte"
              name=""
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.funcionesResponsabilidades.nivelReporte }}</span
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="sueldo"
              style="color: black; font-size: 14px; width: 45%"
              >Sueldo</label
            >
            &nbsp;
            <input
              [(ngModel)]="solicitud.funcionesResponsabilidades.sueldo"
              type="text"
              name="sueldo"
              class="form-control"
              id="sueldo"
            />
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
          <div class="mb-4">
            <a> <h3 class="danger fs-4">Tipo de variable</h3></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="mensual"
              style="color: black; font-size: 14px; width: 45%"
              >Mensual</label
            >
            &nbsp;
            <span
              id="mensual"
              name=""
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.tipoVariables.mensual }}
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="trimestral"
              style="color: black; font-size: 14px; width: 45%"
              >Trimestral</label
            >
            &nbsp;
            <span
              id="trimestral"
              name=""
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.tipoVariables.trimestral }}</span
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="semestral"
              style="color: black; font-size: 14px; width: 45%"
              >Semestral</label
            >
            &nbsp;
            <span
              id="semestral"
              name=""
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.tipoVariables.semestral }}
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              class="input-group-text"
              for="anual"
              style="color: black; font-size: 14px; width: 45%"
              >Anual</label
            >
            &nbsp;
            <span
              id="anual"
              name=""
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.tipoVariables.anual }}</span
            >
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
          <div class="mb-4">
            <a> <h3 class="danger">Aprobadores de la solicitud</h3></a>
          </div>
        </div>
        <div class="col-md-8">
          <hr />
        </div>
      </div>

      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              1 Lvl de Aprobación
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <div class="row mt-2">
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <label
                    for="lvl1descripcion"
                    style="color: #0056b3; font-size: 14px; margin: auto auto"
                  >
                    Descripción de la posición
                  </label>
                  &nbsp;
                  <span
                    id="lvl1descripcion"
                    name=""
                    style="color: black; font-size: 14px; margin: auto auto"
                    class="text-center"
                    >20 - Asistencia de Gerencia</span
                  >
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <label
                    for="lvl1comentarios"
                    style="color: #0056b3; font-size: 14px; margin: auto auto"
                  >
                    Comentarios
                  </label>
                  &nbsp;
                  <span
                    id="lvl1comentarios"
                    name=""
                    style="color: black; font-size: 14px; margin: auto auto"
                    class="text-center"
                    >No applica</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              2 Lvl de Aprobador
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="row mt-2">
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <label
                    for="lvl2descripcion"
                    style="color: #0056b3; font-size: 14px; margin: auto auto"
                  >
                    Descripción de la posición
                  </label>
                  &nbsp;
                  <span
                    id="lvl2descripcion"
                    name=""
                    style="color: black; font-size: 14px; margin: auto auto"
                    class="text-center"
                    >20 - Asistencia de Gerencia</span
                  >
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <label
                    for="lvl2comentarios"
                    style="color: #0056b3; font-size: 14px; margin: auto auto"
                  >
                    Comentarios
                  </label>
                  &nbsp;
                  <span
                    id="lvl2comentarios"
                    name=""
                    style="color: black; font-size: 14px; margin: auto auto"
                    class="text-center"
                    >No applica</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              3 Lvl de Aprobador
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="row mt-2">
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <label
                    for="lvl3descripcion"
                    style="color: #0056b3; font-size: 14px; margin: auto auto"
                  >
                    Descripción de la posición
                  </label>
                  &nbsp;
                  <span
                    id="lvl3descripcion"
                    name=""
                    style="color: black; font-size: 14px; margin: auto auto"
                    class="text-center"
                    >20 - Asistencia de Gerencia</span
                  >
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <label
                    for="lvl3comentarios"
                    style="color: #0056b3; font-size: 14px; margin: auto auto"
                  >
                    Comentarios
                  </label>
                  &nbsp;
                  <span
                    id="lvl3comentarios"
                    name=""
                    style="color: black; font-size: 14px; margin: auto auto"
                    class="text-center"
                    >No applica</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFour"
              aria-expanded="false"
              aria-controls="collapseFour"
            >
              4 Lvl de Aprobador
            </button>
          </h2>
          <div
            id="collapseFour"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="row mt-2">
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <label
                    for="lvl4descripcion"
                    style="color: #0056b3; font-size: 14px; margin: auto auto"
                  >
                    Descripción de la posición
                  </label>
                  &nbsp;
                  <span
                    id="lvl4descripcion"
                    name=""
                    style="color: black; font-size: 14px; margin: auto auto"
                    class="text-center"
                    >20 - Asistencia de Gerencia</span
                  >
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <label
                    for="lvl4comentarios"
                    style="color: #0056b3; font-size: 14px; margin: auto auto"
                  >
                    Comentarios
                  </label>
                  &nbsp;
                  <span
                    id="lvl4comentarios"
                    name=""
                    style="color: black; font-size: 14px; margin: auto auto"
                    class="text-center"
                    >No applica</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseFive"
              aria-expanded="false"
              aria-controls="collapseFive"
            >
              RRHH Corporativo
            </button>
          </h2>
          <div
            id="collapseFive"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="row mt-2">
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <label
                    for="lvl5descripcion"
                    style="color: #0056b3; font-size: 14px; margin: auto auto"
                  >
                    Descripción de la posición
                  </label>
                  &nbsp;
                  <span
                    id="lvl5descripcion"
                    name=""
                    style="color: black; font-size: 14px; margin: auto auto"
                    class="text-center"
                    >20 - Asistencia de Gerencia</span
                  >
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <label
                    for="lvl5comentarios"
                    style="color: #0056b3; font-size: 14px; margin: auto auto"
                  >
                    Comentarios
                  </label>
                  &nbsp;
                  <span
                    id="lvl5comentarios"
                    name=""
                    style="color: black; font-size: 14px; margin: auto auto"
                    class="text-center"
                    >No applica</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseSix"
              aria-expanded="false"
              aria-controls="collapseSix"
            >
              Remuneraciones
            </button>
          </h2>
          <div
            id="collapseSix"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample"
          >
            <div class="row mt-2">
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <label
                    for="lvl6descripcion"
                    style="color: #0056b3; font-size: 14px; margin: auto auto"
                  >
                    Descripción de la posición
                  </label>
                  &nbsp;
                  <span
                    id="lvl6descripcion"
                    name=""
                    style="color: black; font-size: 14px; margin: auto auto"
                    class="text-center"
                    >20 - Asistencia de Gerencia</span
                  >
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <label
                    for="lvl6comentarios"
                    style="color: #0056b3; font-size: 14px; margin: auto auto"
                  >
                    Comentarios
                  </label>
                  &nbsp;
                  <span
                    id="lvl6comentarios"
                    name=""
                    style="color: black; font-size: 14px; margin: auto auto"
                    class="text-center"
                    >No applica</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
          <div class="mb-4">
            <a> <h3 class="danger">Atención de los probadores</h3></a>
          </div>
        </div>
        <div class="col-md-8">
          <hr />
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              for="aprobadoresdinamicos"
              style="color: #0056b3; font-size: 14px; margin: auto auto"
            >
              Aprobadores dinámicos
            </label>
            &nbsp;
            <span
              id="aprobadoresdinamicos"
              name=""
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.atencionProbadores.aprobadoresDinamicos }}</span
            >
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              for="gerenterrhhcorporativo"
              style="color: #0056b3; font-size: 14px; margin: auto auto"
            >
              Gerente de RRHH Corporativo
            </label>
            &nbsp;
            <span
              id="gerenterrhhcorporativo"
              name=""
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.atencionProbadores.gerenteRRHHCorporativo }}</span
            >
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <label
              for="comitederemuneraciones"
              style="color: #0056b3; font-size: 14px; margin: auto auto"
            >
              Comité de Remuneraciones
            </label>
            &nbsp;
            <span
              id="comitederemuneraciones"
              name=""
              style="color: black; font-size: 14px; margin: auto auto"
              class="text-center"
              >{{ solicitud.atencionProbadores.comiteRemuneraciones }}</span
            >
          </div>
        </div>
      </div>
    </h2>
    <!-- <app-spinner></app-spinner> -->
  </div>
</form>
