<form>
  <div class="card">
    <div class="card-body text-start">
      <div class="row">
        <div class="col-md-8">
          <div class="mb-3">
            <a (click)="pageSolicitudes()">
              <h2 class="sol-danger">
                <i class="bi bi-arrow-left-circle azul"></i>
                {{ solicitudRG.idSolicitud }}
              </h2>
            </a>
          </div>
        </div>

        <div class="col-md-12 text-end">
          <button type="button" class="btn btn-info me-2 mt-1" aria-label="Close" (click)="onSubmit()" [disabled]="this.jefeInmediatoSuperiorQuery === '' || this.jefeReferenciaQuery === '' || this.responsableRRHHQuery === ''">
            <i class="fas fa-save"></i> Guardar
          </button>

          <button type="button" (click)="onCompletar()" class="btn btn-info me-2 mt-1" [disabled]="this.detalleSolicitudRG.supervisaA !== 'NA'">
            <i class="fas fa-check-circle"></i> Completar Tarea
          </button>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
          <div class="input-group mb-3">
            <label class="label-estilo" for="origin">Creado por:</label>
            <span id="origin" name="" style="color: black; font-size: 14px" class="text-start">{{
              solicitud.usuarioCreacion }}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <label class="label-estilo" for="unidadnegocio">Fecha:</label>
            <span id="date" name="" style="color: black; font-size: 14px" class="text-start">{{
              this.solicitud.fechaCreacion | date : "yyyy/MM/dd" }}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <label class="label-estilo" for="unidadnegocio">Nro. Solicitud:</label>
            <span id="solicitud" name="" style="color: black; font-size: 14px" class="text-start">{{
              solicitudRG.idSolicitud }}</span>
          </div>
        </div>
      </div>

      <!-- INFORMACION GENERAL -->
      <div class="col">
        <div class="row mt-4">
          <div class="row mt-4">
            <div class="col-md-3">
              <div class="mb-4">
                <a>
                  <h2 class="sol-danger">Información General</h2>
                </a>
              </div>
            </div>

            <div class="col">
              <hr />
            </div>
          </div>
        </div>
        <div class="px-4">
          <div class="row mb-2">
            <div class="col-md-1"></div>
            <div class="col-md-7">
              <div class="input-group mb-3">
                <label class="input-group label-estilo" for="tipoSolicitud">Nro Solicitud de Requisicion</label>
                &nbsp;
                <span #mivar id="tipoSolicitud" name="tipoSolicitud" style="color: black; font-size: 14px"
                  class="text-start">{{ idSolicitudRP }}</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-1"></div>
            <div class="col-md-7">
              <div class="input-group mb-3">
                <label class="input-group label-estilo" for="tipoMotivo">Apellidos y nombres completos</label>
                &nbsp;
                <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                  nombreCompletoCandidato }}</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-1"></div>
            <div class="col-md-3">
              <div class="input-group mb-3">
                <label class="input-group label-estilo" for="observaciones">Observaciones</label>
              </div>
            </div>

            <div class="col-md-7">
              <div class="input-group mb-3">
                <textarea name="descripcionposicion" style="color: black; font-size: 14px; width: 100%; resize: none;"
                  [(ngModel)]="detalleSolicitudRG.justificacion" class="form-control" id="observaciones" rows="3"
                  required></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- DATOS DE CONTRATACION -->
      <div class="row mt-4">
        <div class="px-4">
          <div class="row mt-4">
            <div class="col-md-3">
              <div class="mb-4">
                <a>
                  <h2 class="sol-danger">Datos de contratación</h2>
                </a>
              </div>
            </div>

            <div class="col">
              <hr />
            </div>
          </div>

          <div class="row mt-4 px-4">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="searchInputFilter">Buscar Empleado</label>
                  <input-component [id]="'searchInputFilter'" [type]="'string'" [buttonIcon]="'ti-search'"
                    buttonFunction="filterStringInTable" onChangeFunction="filterStringInTable" placeholder=""
                    (click)="openModal('dialogBuscarEmpleados')" style="width: 50%"></input-component>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Empleado</label>
                  &nbsp;
                  <span id="empleado" name="empleado" style="color: black; font-size: 14px" class="text-start">{{
                    detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.nombreCompleto }}</span>
                </div>
              </div>
            </div>

            <div class="row mt-4 mb-4">
              <div class="col d-flex justify-content-center align-items-center">
                <div class="mb-3">
                  <label class="input-group label-estilo" style="font-size: 20px; color: black"
                    for="tipoMotivo">Anterior</label>
                </div>
              </div>
              <div class="col d-flex justify-content-center align-items-center">
                <div class="mb-3">
                  <label class="input-group label-estilo" style="font-size: 20px; color: black"
                    for="tipoMotivo">Actual</label>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-md-1"></div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Compañía</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.compania }}</span>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Compañía</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    model.compania }}</span>
                </div>
              </div>
            </div>

            <div class="row mt-4 mb-4">
              <div class="col-md-1"></div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Sueldo</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.sueldo }}</span>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Sueldo</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    model.sueldo }}</span>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col">
                <div class="mb-4">
                  <a>
                    <h2 class="sol-danger">Tipo de variable</h2>
                  </a>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-md-1"></div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Mensual</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.sueldoMensual }}</span>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Mensual</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    model.sueldoMensual }}</span>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-1"></div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Trimestral</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.sueldoTrimestral }}</span>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Trimestral</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    model.sueldoTrimestral }}</span>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-1"></div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Semestral</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.sueldoSemestral }}</span>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Semestral</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    model.sueldoSemestral }}</span>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-1"></div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Anual</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.sueldoAnual }}</span>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Anual</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    model.sueldoAnual }}</span>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-1"></div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Remuneracion mensual</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    detalleSolicitudRG.supervisaA === "N/A" ? "" : remuneracion }}</span>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Remuneracion mensual</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    modelRemuneracion }}</span>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-1"></div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Puesto</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.descrPosicion }}</span>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Puesto</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    model.descrPosicion }}</span>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-1"></div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Unidad de Negocio</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.unidadNegocio }}</span>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Unidad de Negocio</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    model.unidadNegocio}}</span>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-1"></div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Departamento</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.departamento }}</span>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Departamento</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    model.departamento }}</span>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-1"></div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Localidad</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.localidad }}</span>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Localidad</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    model.localidad }}</span>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-1"></div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Jefe Inmediato Superior</label>
                  &nbsp;
                  <input name="jefe-superior" type="text" class="form-control" id="searchInp"
                    [(ngModel)]="jefeInmediatoSuperiorQuery" [ngbTypeahead]="searchJefeInmediatoSuperior"
                    [resultFormatter]="formatOption" [inputFormatter]="formatOption" />

                  <button class="btn btn-light" type="button" (click)="getDataJefeInmediatoSuperior()">
                    <i class="ti-search"></i>
                  </button>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Jefe Inmediato Superior</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    model.jefeInmediatoSuperior }}</span>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-1"></div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Puesto Jefe Inmediato</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    jefeInmediatoSuperiorQuery.descrPuesto }}</span>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Puesto Jefe Inmediato</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    model.puestoJefeInmediato }}</span>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-1"></div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Jefe Referencia</label>
                  &nbsp;
                  <input name="jefe-referencia" type="text" class="form-control" id="searchInp"
                    [(ngModel)]="jefeReferenciaQuery" [ngbTypeahead]="searchJefeReferencia"
                    [resultFormatter]="formatOption" [inputFormatter]="formatOption" />

                  <button class="btn btn-light" type="button" (click)="getDataJefeReferencia()">
                    <i class="ti-search"></i>
                  </button>
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <!-- <label class="input-group label-estilo" for="tipoMotivo"
                    >Responsable RRHH</label
                  > -->
                  <label class="input-group label-estilo" for="tipoMotivo">Responsable RRHH</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    solicitud.usuarioCreacion }}</span>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-1"></div>
              <div class="col">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Puesto Referencia</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    jefeReferenciaQuery.descrPuesto }}</span>
                </div>
              </div>
              <div class="col mb-4">
                <div class="input-group mb-3 h-100">
                  <label class="input-group-text label-estilo" for="tipoMotivo">Observaciones del comité de
                    Remuneraciones</label>
                  <textarea id="observaciones" name="observaciones" [value]="observacionRemuneraciones" style="
                      color: black;
                      font-size: 14px;
                      height: 100px;
                      resize: none;
                      position: absolute;
                      top: 50px;
                      width: 96%;
                    " disabled></textarea>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-1"></div>
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Fecha de Ingreso</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    detalleSolicitudRG.supervisaA === "N/A" ? "" : (modelRG.fechaIngreso | date:'dd/MM/yyyy') }}</span>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-1"></div>
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Fecha de Salida</label>
                  &nbsp;
                  <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{
                    fechaSalida | date:'dd/mm/yyyy'}}</span>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-md-1"></div>
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <label class="input-group label-estilo" for="tipoMotivo">Responsable RRHH</label>
                  &nbsp;
                  <input name="responsable-rrhh" type="text" class="form-control" id="searchInp"
                    [(ngModel)]="responsableRRHHQuery" [ngbTypeahead]="searchResponsableRRHH"
                    [resultFormatter]="formatOption" [inputFormatter]="formatOption" />

                  <button class="btn btn-light" type="button" (click)="getDataResponsableRRHH()">
                    <i class="ti-search"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="row mt-4">
              <div class="col-md-3">
                <div class="mb-4">
                  <a>
                    <h3 class="sol-danger">Aprobadores de la solicitud</h3>
                  </a>
                </div>
              </div>

              <div class="col-md-9">
                <hr />
              </div>
            </div>

            <div class="accordion" id="accordionExample">
              <div *ngFor="
                  let nivelItem of dataAprobacionesPorPosicion[keySelected];
                  let i = index
                " class="accordion-item">
                <div class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i"
                    style="display: block">
                    <div class="row" style="align-items: center; justify-content: space-around">
                      <div class="col">
                        {{ nivelItem.nivelAprobacionType.ruta }}
                      </div>

                      <div class="col">
                        {{
                        nivelItem.aprobador.usuario !== "" &&
                        nivelItem.aprobador.usuario !== undefined &&
                        nivelItem.aprobador.usuario != null
                        ? nivelItem.aprobador.usuario
                        : "No aplica"
                        }}
                      </div>

                      <div class="col">
                        {{ nivelItem.nivelAprobacionType.nivelAprobacionRuta }}
                      </div>
                    </div>
                  </button>
                </div>

                <div [id]="'collapse' + i" class="accordion-collapse collapse" [ngClass]="{ show: i === 0 }"
                  data-bs-parent="#accordionExample">
                  <div class="row">
                    <div class="col">
                      <div class="input-group">
                        <label for="lvl1descripcion">
                          Descripción de la posición
                        </label>

                        &nbsp;

                        <span id="lvl1descripcion" name="" style="color: black; font-size: 14px">
                          {{
                          nivelItem.aprobador.descripcionPosicion !== "" &&
                          nivelItem.aprobador.descripcionPosicion !==
                          undefined &&
                          nivelItem.aprobador.descripcionPosicion != null
                          ? nivelItem.aprobador.descripcionPosicion
                          : "No aplica"
                          }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
