<form>
	<div class="card">
		<div class="card-body text-start">
			<div class="header-solicitud">
				<div class="row">
					<div class="col-md-8">
						<div class="mb-3">
							<h2 class="sol-danger">
								<a routerLink="/tareas/consulta-tareas"> <i class="bi bi-arrow-left-circle azul"></i> {{ solicitudRG.idSolicitud }} </a>
							</h2>
						</div>
					</div>

					<div class="col-md-4 text-end">
						<button *ngIf="existeMatenedores" type="button" (click)="openModalReasignarUsuario()" class="btn btn-info me-2 mt-1"><i class="fas fa-redo"></i> Reasignar</button>

						<button *ngIf="!existeMatenedores || existe" type="button" class="btn btn-info me-2 mt-1" aria-label="Close" (click)="onSubmit()" [disabled]="jefeReferenciaQuery === '' || responsableRRHHQuery === '' || detalleSolicitudRG.justificacion === ''"><i class="fas fa-save"></i> Guardar</button>

						<button *ngIf="!existeMatenedores || existe" type="button" (click)="onCompletar()" class="btn btn-info me-2 mt-1" [disabled]="jefeReferenciaQuery.nombreCompleto === '' || responsableRRHHQuery.nombreCompleto === '' || detalleSolicitudRG.supervisaA !== 'NA'"><i class="fas fa-check-circle"></i> Enviar Solicitud</button>
					</div>
				</div>

				<app-solicitud-header-data [usuarioCreacion]="solicitud.usuarioCreacion" [fechaCreacion]="solicitudRG.fechaCreacion" [idSolicitud]="solicitudRG.idSolicitud"></app-solicitud-header-data>

				<hr />
			</div>

			<div class="after-header-solicitud"></div>

			<!-- ! Información general -->
			<app-solicitud-seccion-desplegable titleSummary="Información General" [isOpen]="true">
				<div>
					<div class="row">
						<div class="col-md-12">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo2" for="tipoSolicitud">Nro Solicitud de Requisicion</label>

								<span style="color: black; font-size: 14px" class="text-start w-75">{{ idSolicitudRP }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo2" for="tipoMotivo">Apellidos y nombres completos</label>

								<span style="color: black; font-size: 14px" class="text-start w-75">{{ nombreCompletoCandidato }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo2" for="observaciones">Observaciones<span style="color: red">*</span></label>

								<!-- <span style="color: black; font-size: 14px" class="text-start w-75">{{ detalleSolicitudRG.justificacion }}</span> -->
								<textarea name="descripcionposicion" style="color: black; font-size: 14px; resize: none" [(ngModel)]="detalleSolicitudRG.justificacion" class="form-control" id="observaciones" rows="3" required></textarea>
							</div>
						</div>
					</div>
				</div>
			</app-solicitud-seccion-desplegable>

			<!-- ! Datos de contratación -->
			<app-solicitud-seccion-desplegable titleSummary="Datos de contratación" [isOpen]="true">
				<div>
					<div class="d-flex justify-content-end" *ngIf="!existeMatenedores">
						<button type="button" (click)="openModalBuscarExempleado()" class="btn btn-info"><i class="ti-search me-1"></i> Buscar ex-empleado</button>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo2" for="tipoMotivo">Empleado</label>

								<span style="color: black; font-size: 14px" class="text-start w-75">{{ detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.nombreCompleto }}</span>
							</div>
						</div>
					</div>

					<div class="row my-4">
						<div class="col-md-6">
							<h2 class="label-estilo sol-danger text-center w-100">Anterior</h2>
						</div>

						<div class="col-md-6">
							<h2 class="label-estilo sol-danger text-center w-100">Actual</h2>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Compañía</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">{{ detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.compania }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Compañía</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">{{ model.compania }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Unidad de Negocio</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">{{ detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.unidadNegocio }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Unidad de Negocio</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">{{ model.unidadNegocio }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Área/Departamento</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">{{ detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.departamento }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Área/Departamento</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">{{ model.departamento }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Localidad/Zona</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">{{ detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.localidad }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Localidad/Zona</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">{{ model.localidad }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Puesto</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">{{ detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.nombreCargo }}</span>
								<!-- <span style="color: black; font-size: 14px" class="text-start w-50">{{ detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.descrPuesto }}</span> -->
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Puesto</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">{{ model.nombreCargo }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Jefe Inmediato Anterior o Referencia</label>

								<span *ngIf="existeMatenedores; else editableJefeReferenciaNombre" style="color: black; font-size: 14px" class="text-start w-50">{{ jefeReferenciaQuery.nombreCompleto }}</span>

								<ng-template #editableJefeReferenciaNombre>
									<input name="jefe-superior" type="text" class="form-control" id="searchInp" [(ngModel)]="jefeReferenciaQuery.nombreCompleto" readonly (click)="getDataEmpleadosEvolution('nombresJefeReferencia')" />

									<button class="btn btn-light" type="button" (click)="getDataEmpleadosEvolution('nombresJefeReferencia')">
										<i class="ti-search"></i>
									</button>
								</ng-template>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Jefe Inmediato Superior</label>

								<!-- <span style="color: black; font-size: 14px" class="text-start w-50">{{ model.jefeInmediatoSuperior }}</span> -->
								<span style="color: black; font-size: 14px" class="text-start w-50">{{ nombreJefeSolicitante }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Puesto Jefe Inmediato Anterior o Referencia</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">{{ jefeReferenciaQuery.descrPuesto }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Puesto Jefe Inmediato</label>

								<!-- <span style="color: black; font-size: 14px" class="text-start w-50">{{ model.puestoJefeInmediato }}</span> -->
								<span style="color: black; font-size: 14px" class="text-start w-50">{{ puestoJefeInmediatoSuperior }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Fecha de Ingreso</label>

								<!-- <span style="color: black; font-size: 14px" class="text-start w-50">
									{{
										detalleSolicitudRG.supervisaA === "N/A"
											? ""
											: modelRG.fechaIngresogrupo === "" || modelRG.fechaIngresogrupo === undefined || modelRG.fechaIngresogrupo === null
												? (modelRG.fechaIngreso === "" || modelRG.fechaIngreso === undefined || modelRG.fechaIngreso === null
													? ""
													: (modelRG.fechaIngreso | date : "dd/MM/yyyy"))
												: (modelRG.fechaIngresogrupo | date : "dd/MM/yyyy")
									}}
								</span> -->
								<span style="color: black; font-size: 14px" class="text-start w-50">{{ detalleSolicitudRG.supervisaA === "N/A" ? "" : (modelRG.fechaIngreso | date : "dd/MM/yyyy") }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Responsable RRHH</label>

								<!-- <span style="color: black; font-size: 14px" class="text-start w-50">{{ solicitud.usuarioCreacion }}</span> -->

								<span *ngIf="existeMatenedores; else editableResponsableRRHHRG" style="color: black; font-size: 14px" class="text-start w-50">{{ responsableRRHHRG.nombreCompleto }}</span>

								<ng-template #editableResponsableRRHHRG>
									<input name="responsable-rrhh-rg" type="text" class="form-control" id="searchInpRG" [(ngModel)]="responsableRRHHRG.nombreCompleto" readonly (click)="getDataEmpleadosEvolution('nombresResponsableRRHHRG')" />

									<button class="btn btn-light" type="button" (click)="getDataEmpleadosEvolution('nombresResponsableRRHHRG')">
										<i class="ti-search"></i>
									</button>
								</ng-template>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Fecha de Salida</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">{{ model.subledger === modelRG.subledger ? "" : (fechaSalidaRG | date : "dd/MM/yyyy") }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Observaciones del comité de Remuneraciones</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">{{ observacionRemuneraciones }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Responsable RRHH</label>

								<span *ngIf="existeMatenedores; else editableResponsableRRHH" style="color: black; font-size: 14px" class="text-start w-50">{{ responsableRRHHQuery.nombreCompleto }}</span>

								<ng-template #editableResponsableRRHH>
									<input name="responsable-rrhh" type="text" class="form-control" id="searchInp" [(ngModel)]="responsableRRHHQuery.nombreCompleto" readonly (click)="getDataEmpleadosEvolution('nombresResponsableRRHH')" />

									<button class="btn btn-light" type="button" (click)="getDataEmpleadosEvolution('nombresResponsableRRHH')">
										<i class="ti-search"></i>
									</button>
								</ng-template>
							</div>
						</div>
					</div>
				</div>
			</app-solicitud-seccion-desplegable>

			<!-- ! Tipo de variable -->
			<app-solicitud-seccion-desplegable titleSummary="Sueldo/Tipo de variable" [isOpen]="true">
				<div>
					<div class="row my-4">
						<div class="col-md-6">
							<h2 class="label-estilo sol-danger text-center w-100">Anterior</h2>
						</div>

						<div class="col-md-6">
							<h2 class="label-estilo sol-danger text-center w-100">Actual</h2>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Sueldo</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">$ {{ detalleSolicitudRG.supervisaA === "N/A" ? "0.00" : modelRG.sueldo === "" || modelRG.sueldo === null || modelRG.sueldo === undefined ? "0.00" : (modelRG.sueldo | number : "1.2-2") }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Sueldo</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">$ {{ model.sueldo | number : "1.2-2" }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Mensual</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">$ {{ detalleSolicitudRG.supervisaA === "N/A" ? "0.00" : modelRG.sueldoMensual === "" || modelRG.sueldoMensual === null || modelRG.sueldoMensual === undefined ? "0.00" : (modelRG.sueldoMensual | number : "1.2-2") }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Mensual</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">$ {{ model.sueldoMensual | number : "1.2-2" }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Trimestral</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">$ {{ detalleSolicitudRG.supervisaA === "N/A" ? "0.00" : modelRG.sueldoTrimestral === "" || modelRG.sueldoTrimestral === null || modelRG.sueldoTrimestral === undefined ? "0.00" : (modelRG.sueldoTrimestral | number : "1.2-2") }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Trimestral</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">$ {{ model.sueldoTrimestral | number : "1.2-2" }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Semestral</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">$ {{ detalleSolicitudRG.supervisaA === "N/A" ? "0.00" : modelRG.sueldoSemestral === "" || modelRG.sueldoSemestral === null || modelRG.sueldoSemestral === undefined ? "0.00" : (modelRG.sueldoSemestral | number : "1.2-2") }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Semestral</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">$ {{ model.sueldoSemestral | number : "1.2-2" }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Anual</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">$ {{ detalleSolicitudRG.supervisaA === "N/A" ? "0.00" : modelRG.sueldoAnual === "" || modelRG.sueldoAnual === null || modelRG.sueldoAnual === undefined ? "0.00" : (modelRG.sueldoAnual | number : "1.2-2") }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Anual</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">$ {{ model.sueldoAnual | number : "1.2-2" }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Remuneración mensual</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">$ {{ detalleSolicitudRG.supervisaA === "N/A" ? "0.00" : remuneracion === 0 || remuneracion === null || remuneracion === undefined ? "0.00" : (remuneracion | number : "1.2-2") }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Remuneración mensual</label>

								<span style="color: black; font-size: 14px" class="text-start w-50">$ {{ modelRemuneracion | number : "1.2-2" }}</span>
							</div>
						</div>
					</div>
				</div>
			</app-solicitud-seccion-desplegable>

			<!-- ! Aprobadores de la solicitud -->
			<app-solicitud-seccion-desplegable titleSummary="Aprobadores de la solicitud">
				<div>
					<div class="accordion" id="accordionExample">
						<div *ngFor="let nivelItem of dataAprobacionesPorPosicion[keySelected]; let i = index" class="accordion-item">
							<div class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i" style="display: block">
									<div class="row" style="align-items: center; justify-content: space-around">
										<div class="col">
											{{ nivelItem.nivelAprobacionType.ruta }}
										</div>

										<div class="col">
											{{ nivelItem.aprobador.usuario !== "" && nivelItem.aprobador.usuario !== undefined && nivelItem.aprobador.usuario != null ? nivelItem.aprobador.codigoPosicion + "-" + nivelItem.aprobador.usuario : "No aplica" }}
										</div>

										<div class="col">
											{{ nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("REGISTRARSOLICITUD") ? "Registrar Solicitud" : nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("CANDIDATO") ? "Selección de Candidato" : nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("COMENTARIOJEFE") ? "Registrar Comentario Jefe Anterior o Referencia" : nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("COMENTARIORRHH") ? "Registrar Comentario RR.HH." : nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("COMENTARIOSOLICITANTE") ? "Registrar Comentario Jefe Solicitante" : nivelItem.nivelAprobacionType.nivelAprobacionRuta }}
										</div>
									</div>
								</button>
							</div>

							<div [id]="'collapse' + i" class="accordion-collapse collapse" [ngClass]="{ show: i === 0 }" data-bs-parent="#accordionExample">
								<div class="row">
									<div class="col">
										<div class="input-group">
											<label for="lvl1descripcion"> Descripción de la posición </label>

											&nbsp;

											<span id="lvl1descripcion" name="" style="color: black; font-size: 14px">
												{{ nivelItem.aprobador.descripcionPosicion !== "" && nivelItem.aprobador.descripcionPosicion !== undefined && nivelItem.aprobador.descripcionPosicion != null ? nivelItem.aprobador.descripcionPosicion : "No aplica" }}
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</app-solicitud-seccion-desplegable>
		</div>
	</div>
</form>
