.autocomplete-items {
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.suggestion-item:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.form-control { width: 300px; }

.header-accordion {background-color: white !important}
.accordion-item {
  border: none !important;
}

.accordion-button, .accordion-button.collapsed {
  border: none !important;
  box-shadow: none !important;
}
textarea {
  width: 40%;
  // height: 200px;
  padding: 10px;
  border: 1px solid #e2dfdf;
  box-sizing: border-box;
}
.ngb-typeahead-window .dropdown-item.active {
  background-color: gold; /* Cambia el color de fondo a dorado */
}

.dropdown-menu {
  width: 300px; /* Ajusta el ancho según tus necesidades */
}


.label-estilo{
  color: #0056B3;
   font-size: 16px;
   width: 45%;
   background-color: white;
   font-weight:500;
   border-style: none;
}

.label-estilo2{
  color: #0056B3;
   font-size: 16px;
   width: 22%;
   background-color: white;
   font-weight:500;
   border-style: none;
}

.label-estilo3{
  color: grey;
   font-size: 16px;
   width: 45%;
   background-color: white;
   font-weight:500;
   border-style: none;
}


.container {
  margin: 20px;
}

h2 {
  margin-top: 20px;
  font-weight: bold;
}

h3, h4 {
  margin-top: 20px;
}

.form-check {
  margin-right: 10px;
}

.form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}

.row {
  margin-top: 20px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container .form-check-label:first-of-type {
  margin-right: 60px;
}

.checkbox-container .form-check-label:last-of-type {
  margin-left: 10px;
}

.adjustable-label {
  color: #0056B3;
  font-size: 16px;
  background-color: white;
  font-weight:500;
  border-style: none;
  width: 45%;         /* Ajusta al 100% del contenedor padre */
  word-wrap: break-word; /* Permite que las palabras se dividan en el borde del contenedor */
  white-space: normal;  /* Permite que el texto se ajuste y baje a la siguiente línea */
  text-align: left;
}

.sol-danger{

  color: #C69D08;
  font-size: 20px;
  font-weight:500;
}


