/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '~material-icons/iconfont/material-icons.css';

@font-face {
	font-family: "Raleway";
	src: url("./assets/fonts/Raleway-VariableFont_wght.ttf");
	//src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}

body {
	// font-family: Montserrat, sans-serif;
	font-family: Raleway, sans-serif;
}

/* rutas */
a.link:hover,
a.link:focus {
	color: #000000;
}

/* tooltip */
.popover-body {
	background: #f2f3f5;
	color: #0753af;
}

//estilos de usuario y la imagen

.dropdown-item.active {
	background-color: #C69D08;
	/* Cambia el color de fondo a dorado */
}

.dropdown-menu {
	width: 280px;
	/* Ajusta el ancho según tus necesidades */
}


.sidebar-nav > ul > .sidebar-item {
	&.active > a.sidebar-link {
		color: white !important;
	}

	& > a.sidebar-link {
		color: white !important;
	}
}


html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Raleway, sans-serif;
}

.modal-dialog {
	width: 600px;
}

.modal-dialog:has(.buscar-aprobador-fijo-modal) {
	width: auto;
	max-width: 900px !important;
}

.card-body {
	background-color: #fff;
}

.advanced-pie-legend {
	height: auto;

	& .total-value {
		height: 20px;
		font-size: 28px !important;
		margin-bottom: 5px;
	}

	& .total-label {
		font-size: 18px !important;
		color: darken(#0056B3, 15%);
	}

	& .legend-items-container {
		& .legend-items {
			height: auto;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 10px;
			overflow: visible !important;

			& .legend-item {
				// display: grid !important;
				// grid-template-columns: 0.3fr 1fr 0.5fr;
				// grid-template-areas: "color label value";
				margin: 0 !important;
				// margin-right: 35px !important;
				display: flex !important;
				gap: 15px;

				& .item-color {
					border-left-width: 15px !important;
					height: 15px !important;
					grid-area: color;
					margin: 0 !important;
				}

				& .item-value {
					margin: 0 !important;
					font-size: 18px !important;
					// grid-area: value;
					text-align: right;
					order: 3;
					flex-basis: 30px;
				}

				& .item-label {
					margin: 0 !important;
					font-size: 16px !important;
					// grid-area: label;
					order: 2;
					flex-basis: 100px;
				}

				& > .item-percent {
					display: none;
				}
			}
		}
	}
}

/**
 * TABLES
 */
.fixed-col-start {
	position: sticky;
	left: 0px;
	background-color: #efefef !important;
	z-index: 2;
}

thead th.fixed-col-start {
	position: sticky;
	background-color: rgba(0, 86, 179) !important;
	color: white;
	top: 0;
	left: 0px;
	z-index: 2;
}

.fixed-col-end {
	position: sticky;
	right: 0px;
	background-color: #efefef !important;
	z-index: 2;
}

thead th.fixed-col-end {
	position: sticky;
	background-color: rgba(0, 86, 179) !important;
	color: white;
	top: 0;
	right: 0px;
	z-index: 2;
}

.no-table {
	width: 100%;
	height: 150px;
	border: 1px solid gray;
	border-radius: 10px;
}

.with-table {
	max-height: 600px;
	overflow-x: auto;
	overflow-y: auto;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);

	& > table > thead {
		background-color: #B2CCE8;
		position: sticky;
		top: 0;
		z-index: 10;
	}
}

/**
 * HEADER SOLICITUDES
 */
.header-solicitud {
	padding-top: 20px;
	position: fixed;
	top: 128px;
	width: calc(100% - 80px);
	z-index: 25;
	max-width: calc(1300px - 80px);
	background-color: #fff;
}

.after-header-solicitud {
	margin-top: 160px !important;
}

.cursor-pointer {
	cursor: pointer;
}

/**
 * DETAILS
 */
details[open] {
	& > summary i {
		transform: rotate(180deg);
	}

	.details-content {
		padding: 10px;
		border-radius: 5px;
		border: 1px solid #9e9e9e;
	}
}

details {
	summary {
		list-style: none;
		appearance: none;
		padding: 10px;
		display: block;
		border: 1px solid #9e9e9e;
		color: white;
		border-radius: 5px;

		& > div {
			align-items: center;

			h3 {
				margin: 0 !important;
			}

			hr {
				color: black;
			}

			i {
				color: #9e9e9e;
				transform: rotate(0deg);
				font-size: 20px;
			}
		}
	}
}
