<form (ngSubmit)="onSubmit()" #SolicitudForm="ngForm" #solicitudForm="ngForm">
	<div class="card">
		<div class="card-body text-start">
			<div class="header-solicitud">
				<div class="row">
					<div class="col-md-8">
						<div class="mb-3">
							<h3 class="sol-danger">
								<a routerLink="/tareas/consulta-tareas"> <i class="bi bi-arrow-left-circle azul"></i> {{ solicitudRG.idSolicitud }} </a>
							</h3>
						</div>
					</div>

					<div class="col-md-4 text-end">
						<button *ngIf="existeMatenedores" type="button" (click)="openModalReasignarUsuario()" class="btn btn-info me-2 mt-1"><i class="fas fa-redo"></i> Reasignar</button>

						<!-- <button *ngIf="!existeMatenedores || existe" type="button" class="btn btn-info me-2 mt-1" (click)="saveDetalleAprobaciones()" [disabled]="textareaContent === '' && (buttonValue === 'devolver' || buttonValue === 'rechazar')">
							<i class="fas fa-save"></i> Guardar
						</button> -->

						<!-- <button *ngIf="!existeMatenedores || existe" type="button" (click)="onCompletar()" class="btn btn-info me-2 mt-1" [disabled]="disabledComplete"> -->
						<!-- <button *ngIf="!existeMatenedores || existe" type="button" (click)="saveDetalleAprobaciones()" class="btn btn-info me-2 mt-1" [disabled]="textareaContent === '' && (buttonValue === 'devolver' || buttonValue === 'rechazar')"><i class="fas fa-check-circle icon-size"></i> Enviar</button> -->
						<button *ngIf="!existeMatenedores || existe" type="submit" class="btn btn-info me-2 mt-1" [disabled]="comentarios === ''"><i class="fas fa-check-circle"></i> Enviar Solicitud</button>
					</div>
				</div>

				<div class="row mt-4">
					<div class="col-md-4">
						<div class="input-group mb-3 align-items-center">
							<label class="label-estilo" for="origin">Creado por:</label>

							<span id="origin" name="" style="color: black; font-size: 14px" class="text-start">{{ solicitud.usuarioCreacion }}</span>
						</div>
					</div>

					<div class="col-md-4">
						<div class="input-group mb-3 align-items-center">
							<label class="label-estilo" for="unidadnegocio">Fecha:</label>

							<span id="date" name="" style="color: black; font-size: 14px" class="text-start">{{ solicitud.fechaCreacion | date : "yyyy/MM/dd" }}</span>
						</div>
					</div>

					<div class="col-md-4">
						<div class="input-group mb-3 align-items-center">
							<label class="label-estilo" for="unidadnegocio">Nro. Solicitud:</label>

							<span id="solicitud" name="" style="color: black; font-size: 14px" class="text-start">{{ solicitudRG.idSolicitud }}</span>
						</div>
					</div>
				</div>

				<hr />
			</div>

			<div class="after-header-solicitud"></div>

			<!-- <div class="row">
				<div class="col-md-8">
					<div class="mb-3">
						<h2 class="sol-danger">
							<a routerLink="/tareas/consulta-tareas"><i class="bi bi-arrow-left-circle azul"></i> {{ solicitudRG.idSolicitud }}</a>
						</h2>
					</div>
				</div>

				<div class="col-md-12 text-end" *ngIf="!existeMatenedores || existe">
					<button *ngIf="existeMatenedores" type="button" (click)="openModalReasignarUsuario()" class="btn btn-info me-2 mt-1"><i class="fas fa-redo"></i> Reasignar</button>

					<button *ngIf="!existeMatenedores || existe" type="button" type="submit" class="btn btn-info me-2 mt-1" aria-label="Close" [disabled]="comentarios === ''"><i class="fas fa-save"></i> Guardar</button>

					<button *ngIf="!existeMatenedores || existe" type="button" (click)="onCompletar()" class="btn btn-info me-2 mt-1" [disabled]="completeDisabled"><i class="fas fa-check-circle"></i> Completar Tarea</button>
				</div>
			</div>

			<div class="row mt-4">
				<div class="col-md-4">
					<div class="input-group mb-3">
						<label class="input-group-text text-start label-estilo" for="origin">Creado por:</label>
						<span id="origin" name="" style="color: black; font-size: 14px" class="text-start">{{ solicitud.usuarioCreacion }}</span>
						<div class="row mt-4"></div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="input-group mb-3">
						<label class="input-group-text text-start label-estilo" for="unidadnegocio">Fecha:</label>
						<span id="date" name="" style="color: black; font-size: 14px" class="text-start">{{ solicitud.fechaCreacion | date : "yyyy/MM/dd" }}</span>
					</div>
				</div>
				<div class="col-md-4">
					<div class="input-group mb-3">
						<label class="input-group-text text-start label-estilo" for="unidadnegocio">Nro. Solicitud:</label>
						<span id="solicitud" name="" style="color: black; font-size: 14px" class="text-start">{{ solicitudRG.idSolicitud }}</span>
					</div>
				</div>
			</div> -->

			<!-- ! Información general -->
			<app-solicitud-seccion-desplegable titleSummary="Información general">
				<div>
					<div class="row">
						<div class="col-md-12">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text label-estilo2" for="tipoSolicitud">Nro Solicitud de Requisicion</label>

								<span #mivar id="tipoSolicitud" name="tipoSolicitud" style="color: black; font-size: 14px" class="text-start">{{ idSolicitudRP }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text label-estilo2" for="tipoMotivo">Apellidos y nombres completos</label>

								<span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{ nombreCompletoCandidato }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text label-estilo2" for="observaciones">Observaciones</label>

								<span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitudRG.justificacion }}</span>
							</div>
						</div>
					</div>
				</div>
			</app-solicitud-seccion-desplegable>

			<!-- ! Datos de contratación -->
			<app-solicitud-seccion-desplegable titleSummary="Datos de contratación">
				<div>
					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Empleado</label>

								<span id="empleado" name="empleado" style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.nombreCompleto }}</span>
							</div>
						</div>
					</div>

					<div class="row my-4">
						<div class="col-md-6">
							<h2 class="label-estilo sol-danger text-center w-100">Anterior</h2>
						</div>

						<div class="col-md-6">
							<h2 class="label-estilo sol-danger text-center w-100">Actual</h2>
						</div>
					</div>

					<div class="row mt-4">
						<div class="col">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Compañía</label>

								<span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitudRG.supervisaA === "N/A" ? "" : modelRG.compania }}</span>
							</div>
						</div>
						<div class="col">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Compañía</label>

								<span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{ model.compania }}</span>
							</div>
						</div>
					</div>

					<div class="row mt-4 mb-4">
						<div class="col">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Sueldo</label>

								<span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">$ {{ detalleSolicitudRG.supervisaA === "N/A" ? "" : (modelRG.sueldo | number : "1.2-2") }}</span>
							</div>
						</div>
						<div class="col">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Sueldo</label>

								<span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">$ {{ model.sueldo | number : "1.2-2" }}</span>
							</div>
						</div>
					</div>
				</div>
			</app-solicitud-seccion-desplegable>

			<!-- ! Tipo de variable -->
			<app-solicitud-seccion-desplegable titleSummary="Sueldo/Tipo de variable">
				<div>
					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Mensual</label>

								<span style="color: black; font-size: 14px" class="text-start">$ {{ modelRG.sueldoMensual | number : "1.2-2" }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Mensual</label>

								<span style="color: black; font-size: 14px" class="text-start">$ {{ model.sueldoMensual | number : "1.2-2" }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Trimestral</label>

								<span style="color: black; font-size: 14px" class="text-start">$ {{ modelRG.sueldoTrimestral | number : "1.2-2" }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Trimestral</label>

								<span style="color: black; font-size: 14px" class="text-start">$ {{ model.sueldoTrimestral | number : "1.2-2" }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Semestral</label>

								<span style="color: black; font-size: 14px" class="text-start">$ {{ modelRG.sueldoSemestral | number : "1.2-2" }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Semestral</label>

								<span style="color: black; font-size: 14px" class="text-start">$ {{ model.sueldoSemestral | number : "1.2-2" }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Anual</label>

								<span style="color: black; font-size: 14px" class="text-start">$ {{ modelRG.sueldoAnual | number : "1.2-2" }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Anual</label>

								<span style="color: black; font-size: 14px" class="text-start">$ {{ model.sueldoAnual | number : "1.2-2" }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Remuneración mensual</label>

								<span style="color: black; font-size: 14px" class="text-start">$ {{ remuneracion | number : "1.2-2" }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Remuneración mensual</label>

								<span style="color: black; font-size: 14px" class="text-start">$ {{ modelRemuneracion | number : "1.2-2" }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Puesto</label>

								<span style="color: black; font-size: 14px" class="text-start">{{ modelRG.descrPosicion }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Puesto</label>

								<span style="color: black; font-size: 14px" class="text-start">{{ model.descrPosicion }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Unidad de Negocio</label>

								<span style="color: black; font-size: 14px" class="text-start">{{ modelRG.unidadNegocio }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Unidad de Negocio</label>

								<span style="color: black; font-size: 14px" class="text-start">{{ model.unidadNegocio }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Departamento</label>

								<span style="color: black; font-size: 14px" class="text-start">{{ modelRG.departamento }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Departamento</label>

								<span style="color: black; font-size: 14px" class="text-start">{{ model.departamento }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Localidad</label>

								<span style="color: black; font-size: 14px" class="text-start">{{ modelRG.localidad }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Localidad</label>

								<span style="color: black; font-size: 14px" class="text-start">{{ model.localidad }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<!-- <label class="input-group-text text-start label-estilo" for="tipoMotivo">Jefe Inmediato Superior</label> -->
								<label class="input-group-text text-start label-estilo" for="tipoMotivo"
									>Jefe Inmediato Superior <br />
									o Referencia</label
								>

								<!-- <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitudRG.jefeInmediatoSuperior }}</span> -->
								<span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitudRG.jefeReferencia }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Jefe Inmediato Superior</label>

								<span style="color: black; font-size: 14px" class="text-start">{{ model.jefeInmediatoSuperior }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<!-- <label class="input-group-text text-start label-estilo" for="tipoMotivo">Puesto Jefe Inmediato</label> -->
								<label class="input-group-text text-start label-estilo" for="tipoMotivo"
									>Puesto Jefe Inmediato Superior <br />
									o Referencia</label
								>

								<!-- <span style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitud.jefeInmediatoSuperior === "" ? "No aplica" : detalleSolicitud.jefeInmediatoSuperior }}</span> -->
								<span style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitud.jefeInmediatoSuperior === "" ? "No aplica" : detalleSolicitudRG.puesto }}</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Puesto Jefe Inmediato</label>

								<span style="color: black; font-size: 14px" class="text-start">{{ model.puestoJefeInmediato }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<!-- <div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Jefe Referencia</label>

								<span id="jeferef" name="jeferef" style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitudRG.jefeReferencia }}</span>
							</div>
						</div> -->

						<div class="offset-md-6 col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Responsable RRHH</label>

								<span style="color: black; font-size: 14px" class="text-start">{{ solicitud.usuarioCreacion }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<!-- <div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Puesto Referencia</label>

								<span style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitudRG.puesto }}</span>
							</div>
						</div> -->

						<div class="offset-md-6 col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo"
									>Observaciones del comité <br />
									de Remuneraciones</label
								>

								<span style="color: black; font-size: 14px" class="text-start">{{ observacionRemuneraciones }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Fecha de Ingreso</label>

								<span style="color: black; font-size: 14px" class="text-start">{{ modelRG.fechaIngreso | date : "dd/MM/yyyy" }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Fecha de Salida</label>

								<span style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitudRG.fechaSalida | date : "dd/MM/yyyy" }}</span>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="input-group mb-3 align-items-center">
								<label class="input-group-text text-start label-estilo" for="tipoMotivo">Responsable RRHH</label>

								<span id="responRight" name="responRight" style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitudRG.responsableRRHH }}</span>
							</div>
						</div>
					</div>
				</div>
			</app-solicitud-seccion-desplegable>

			<!-- ! Aprobadores de la solicitud -->
			<app-solicitud-seccion-desplegable titleSummary="Aprobadores de la solicitud">
				<div>
					<div class="accordion" id="accordionExample">
						<div *ngFor="let nivelItem of dataAprobacionesPorPosicion[keySelected]; let i = index" class="accordion-item">
							<div class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i" style="display: block">
									<div class="row" style="align-items: center; justify-content: space-around">
										<div class="col">
											{{ nivelItem.nivelAprobacionType.ruta.toUpperCase().includes("REGISTRARSOLICITUD") ? "Registrar Solicitud" : nivelItem.nivelAprobacionType.ruta.toUpperCase().includes("CANDIDATO") ? "Selección de Candidato" : nivelItem.nivelAprobacionType.ruta.toUpperCase().includes("COMENTARIOJEFE") ? "Registrar Comentario Jefe Anterior o Referencia" : nivelItem.nivelAprobacionType.ruta.toUpperCase().includes("COMENTARIORRHH") ? "Registrar Comentario Responsable de RR.HH." : nivelItem.nivelAprobacionType.ruta.toUpperCase().includes("COMENTARIOSOLICITANTE") ? "Registrar Comentario Jefe Solicitante" : nivelItem.nivelAprobacionType.ruta }}
										</div>

										<div class="col">
											{{ nivelItem.aprobador.usuario !== "" && nivelItem.aprobador.usuario !== undefined && nivelItem.aprobador.usuario != null ? nivelItem.aprobador.codigoPosicion + "-" + nivelItem.aprobador.usuario : "No aplica" }}
										</div>

										<div class="col">
											{{ nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("REGISTRARSOLICITUD") ? "Registrar Solicitud" : nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("CANDIDATO") ? "Selección de Candidato" : nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("COMENTARIOJEFE") ? "Registrar Comentario Jefe Anterioro o Referencia" : nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("COMENTARIORRHH") ? "Registrar Comentario Responsable de RR.HH." : nivelItem.nivelAprobacionType.nivelAprobacionRuta.toUpperCase().includes("COMENTARIOSOLICITANTE") ? "Registrar Comentario Jefe Solicitante" : nivelItem.nivelAprobacionType.nivelAprobacionRuta }}
										</div>
									</div>
								</button>
							</div>

							<div [id]="'collapse' + i" class="accordion-collapse collapse" [ngClass]="{ show: i === 0 }" data-bs-parent="#accordionExample">
								<div class="row">
									<div class="col">
										<div class="input-group">
											<label for="lvl1descripcion"> Descripción de la posición </label>

											&nbsp;

											<span id="lvl1descripcion" name="" style="color: black; font-size: 14px">{{ nivelItem.aprobador.descripcionPosicion !== "" && nivelItem.aprobador.descripcionPosicion !== undefined && nivelItem.aprobador.descripcionPosicion != null ? nivelItem.aprobador.descripcionPosicion : "No aplica" }}</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</app-solicitud-seccion-desplegable>

			<!-- ! Referencia de Último Jefe -->
			<div *ngIf="taskKey === taskKeyUltimoJefe || taskKey === taskKeySolicitante">
				<app-solicitud-seccion-desplegable titleSummary="Referencia de Último Jefe" [isOpen]="taskKey === taskKeyUltimoJefe">
					<div>
						<div class="row">
							<div class="col-md-12">
								<div class="input-group mb-3 align-items-center">
									<label class="input-group-text label-estilo2" for="tipoSolicitud">Jefe Anterior o Jefe de Referencia</label>

									<!-- <span #mivar id="tipoSolicitud" name="tipoSolicitud" style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitudRG.jefeInmediatoSuperior }}</span> -->
									<span #mivar id="tipoSolicitud" name="tipoSolicitud" style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitudRG.jefeReferencia }}</span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="input-group mb-3 align-items-center">
									<label class="input-group-text label-estilo2" for="tipoMotivo">Puesto</label>

									<!-- <span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitudRG.puestoJefeInmediato }}</span> -->
									<span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitudRG.puesto }}</span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="input-group mb-3 align-items-center">
									<label class="input-group-text label-estilo2" for="comments"> Comentarios (¿Cómo fue el desempeño en el Área?) </label>

									<textarea *ngIf="taskKey !== taskKeySolicitante" name="descripcionposicion" style="color: black; font-size: 14px; resize: none" class="form-control" id="comments" rows="3" [(ngModel)]="comentarios" required></textarea>

									<span *ngIf="taskKey === taskKeySolicitante" #mivar id="tipoSolicitud" name="tipoSolicitud" style="color: black; font-size: 14px" class="text-start">{{ comentariosJefeInmediato.comentario }}</span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="input-group mb-3 align-items-center">
									<label class="input-group-text label-estilo2" for="tipoMotivo">Fecha</label>

									<span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{ currentDate | date : "dd/MM/yyyy" }}</span>
								</div>
							</div>
						</div>
					</div>
				</app-solicitud-seccion-desplegable>
			</div>

			<!-- ! Ingreso de Referencias de Jefe RR.HH. -->
			<div *ngIf="taskKey === taskKeyRRHH || taskKey === taskKeySolicitante">
				<app-solicitud-seccion-desplegable titleSummary="Ingreso de Referencias de Jefe RR.HH." [isOpen]="taskKey === taskKeyRRHH">
					<div>
						<div class="row">
							<div class="col-md-12">
								<div class="input-group mb-3 align-items-center">
									<label class="input-group-text label-estilo2" for="tipoSolicitud">Forma de Salida</label>

									<textarea *ngIf="taskKey !== taskKeySolicitante" type="text" name="comentario" style="color: black; font-size: 14px; resize: none" class="form-control" id="comments" rows="3" [(ngModel)]="comentarios" required></textarea>

									<span *ngIf="taskKey === taskKeySolicitante" #mivar id="tipoSolicitud" name="tipoSolicitud" style="color: black; font-size: 14px" class="text-start">{{ comentariosRRHH.comentario }}</span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="input-group mb-3 align-items-center">
									<label class="input-group-text label-estilo2" for="tipoMotivo">Causa real de salida</label>

									<span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{ causaSalida }}</span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="input-group mb-3 align-items-center">
									<label class="input-group-text label-estilo2" for="justificacion">Justificación <span style="color: red">*</span></label>

									<span>{{ model.justificacionCargo }}</span>
									<!-- <textarea id="justificacion" name="justificacion" placeholder="Campo obligatorio" [(ngModel)]="model.justificacionCargo" style="color: black; font-size: 14px" required #justificacion="ngModel"></textarea> -->
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="input-group mb-3 align-items-center">
									<label class="input-group-text label-estilo2" for="tipoMotivo">Fecha</label>

									<span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{ currentDate | date : "dd/MM/yyyy" }}</span>
								</div>
							</div>
						</div>
					</div>
				</app-solicitud-seccion-desplegable>
			</div>

			<!-- <div *ngIf="taskKey === taskKeyRRHH || taskKey === taskKeySolicitante">
				<div class="row mt-4">
					<div class="col-md-3">
						<div class="mb-4">
							<a>
								<h2 class="sol-danger">Ingreso de Referencias de Jefe RRHH</h2>
							</a>
						</div>
					</div>

					<div class="col-md-9">
						<hr />
					</div>
				</div>

				<div class="row mb-2">
					<div class="col-md-10">
						<div class="input-group mb-3">
							<label class="input-group label-estilo" for="tipoSolicitud">Forma de Salida</label>
							&nbsp;
							<input *ngIf="taskKey !== taskKeySolicitante" type="text" [(ngModel)]="comentarios" type="text" name="comentario" placeholder="Campo obligatorio" style="border: 1px solid blue; border-radius: 7px; width: 50%" />
							<span *ngIf="taskKey === taskKeySolicitante" #mivar id="tipoSolicitud" name="tipoSolicitud" style="color: black; font-size: 14px" class="text-start">{{ comentariosRRHH.comentario }}</span>
						</div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-10">
						<div class="input-group mb-3">
							<label class="input-group label-estilo" for="tipoMotivo">Causa real de salida</label>
							&nbsp;
							<span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{ causaSalida }}</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="input-group mb-3">
							<label class="input-group label-estilo" for="justificacion" style="width: 20%">Justificación <span style="color: red">*</span></label>
							&nbsp;
							<textarea id="justificacion" name="justificacion" placeholder="Campo obligatorio" [(ngModel)]="model.justificacionCargo" style="color: black; font-size: 14px" required #justificacion="ngModel"></textarea>
						</div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-10">
						<div class="input-group mb-3">
							<label class="input-group label-estilo" for="tipoMotivo">Fecha</label>
							&nbsp;
							<span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{ currentDate | date : "dd/MM/yyyy" }}</span>
						</div>
					</div>
				</div>
			</div> -->

			<!-- ! Ingreso de Referencias Jefe Solicitante -->
			<div *ngIf="taskKey === taskKeySolicitante">
				<app-solicitud-seccion-desplegable titleSummary="Ingreso de Referencias Jefe Solicitante" [isOpen]="true">
					<div>
						<div class="row">
							<div class="col-md-12">
								<div class="input-group mb-3 align-items-center">
									<label class="input-group-text label-estilo2" for="tipoSolicitud">Nombre del Jefe Solicitante</label>

									<span #mivar id="tipoSolicitud" name="tipoSolicitud" style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitud.jefeInmediatoSuperior }}</span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="input-group mb-3 align-items-center">
									<label class="input-group-text label-estilo2" for="tipoMotivo">Puesto</label>

									<span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitud.puestoJefeInmediato }}</span>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="input-group mb-3 align-items-center">
									<label class="input-group-text label-estilo2" for="justificacion">Comentarios (¿por qué considera el reingreso?)</label>

									<textarea name="descripcionposicion" style="color: black; font-size: 14px; resize: none" class="form-control" id="comments2" rows="3" [(ngModel)]="comentarios" required></textarea>
									<!-- <textarea id="justificacion" name="justificacion" placeholder="Campo obligatorio" [(ngModel)]="model.justificacionCargo" style="color: black; font-size: 14px" required #justificacion="ngModel"></textarea> -->
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="input-group mb-3 align-items-center">
									<label class="input-group-text label-estilo2" for="tipoMotivo">Fecha</label>

									<span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{ currentDate | date : "dd/MM/yyyy" }}</span>
								</div>
							</div>
						</div>
					</div>
				</app-solicitud-seccion-desplegable>
			</div>

			<!-- <div *ngIf="taskKey === taskKeySolicitante">
				<div class="row mt-4">
					<div class="col-md-4">
						<div class="mb-4">
							<a>
								<h2 class="sol-danger">Ingreso de Referencias Jefe Solicitante</h2>
							</a>
						</div>
					</div>
					<div class="col-md-8">
						<hr />
					</div>
				</div>
				<div class="row mb-2">
					<div class="col-md-10">
						<div class="input-group mb-3">
							<label class="input-group label-estilo" for="tipoSolicitud">Nombre del Jefe Solicitante</label>
							&nbsp;
							<span #mivar id="tipoSolicitud" name="tipoSolicitud" style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitud.jefeInmediatoSuperior }}</span>
						</div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-10">
						<div class="input-group mb-3">
							<label class="input-group label-estilo" for="tipoMotivo">Puesto</label>
							&nbsp;
							<span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{ detalleSolicitud.puestoJefeInmediato }}</span>
						</div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-12 d-flex align-items-center">
						<label for="comments2" class="label-estilo me-2"> Comentarios (¿por qué considera el reingreso?)* </label>
						<textarea name="descripcionposicion" style="color: black; width: 70%; margin-left: -2.8em; font-size: 14px; resize: none" class="form-control" id="comments2" rows="3" [(ngModel)]="comentarios" required></textarea>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-10">
						<div class="input-group mb-3">
							<label class="input-group label-estilo" for="tipoMotivo">Fecha</label>
							&nbsp;
							<span id="tipoMotivo" name="tipoMotivo" style="color: black; font-size: 14px" class="text-start">{{ currentDate | date : "dd/MM/yyyy" }}</span>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</form>
